section#about
{
    width: 100vw;
    
    position: relative;

    .block-group-title
    {
        text-transform: uppercase;
        width: 100%;
        font-size: 20px;
        font-weight: 300;
        color: $color3;
        padding : 4px 0;

        transition: 0.5s ease-in-out 0.2s;

        overflow: hidden;
        white-space: nowrap;
        position: relative;

        .text 
        {
            transform :translateY(-110%);
            transition: 0.3s ease-in;
        }

        &::after 
        {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 100%;
            height: 1px;
            background-color: $color3;
            transition: 0.5s ease-in-out 0.2s;
        }

        &.active
        {
            .text 
            {
                transform :translateY(0px);
            }
            &::after 
            {
                right: 0;
            }
        }
    }

    .about-container
    {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 40px 0px 40px;
        background-color : $color2;

        .content-container
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 160px 40px 160px 60px;
            gap: 120px;

            .image
            {
                width: 225px;
                height: 225px;
                background-color: white;
                border-radius: 50%;
                flex-shrink: 0;
            }
            .text-container
            {
                .text 
                {
                    font-size: 40px;
                    font-weight: bold;
                    color: $color3;
                    text-transform: uppercase;
                }
                .small-text
                {
                    font-size: 24px;
                    font-weight: 300;
                    color: $color3;
                    text-transform: uppercase;
                    float: right;
                }
                
            }
        }
    }

    .competences-container
    {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 40px 100px 40px;
        background-color : $color2;

        .content-container
        {
            width: 100%;
            padding : 40px;
            box-sizing: border-box;
            display :flex;
            align-items: center;
            justify-content: space-between;

            .block-container
            {
                width: 45%;
                display: flex;
                align-items: flex-start;
                gap: 80px;
                flex-direction: column;

                .wrapper
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 40px;

                    .logo 
                    {
                        height: 100px;
                        width: 100px;
                        background-color : $color3;
                        flex-shrink: 0;
                    }
                    .text 
                    {
                        .title 
                        {
                            font-size: 28px;
                            line-height: 40px;
                            font-weight: bold;
                            color: $color3;
                            text-transform: uppercase;

                        }
                        .subtitle 
                        {
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 22px;
                            color: $color3;
                        }
                    }
                }

            }
            .skills-container
            {
                width: 45%; 

                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;

                
                .skill
                {
                    width: 100%;
                    height: 40px;
                    

                    display: flex;
                    align-items: center;

                    .name 
                    {
                        background-color: $color3;
                        height: 100%;
                        width: 20%;

                        font-size: 16px;
                        font-weight: 300;
                        color: white;
                        text-transform: uppercase;

                        display: flex;
                        align-items: center;

                        padding: 0 20px;
                        box-sizing: border-box;
                    }
                    .progression-container
                    {
                        width: 80%;
                        height: 100%;
                        background-color: white;
                        position: relative;

                        .progression
                        {
                            height: 100%;
                            width: 0%;
                            opacity: 0.7;
                            background-color: $color3;
                            transition: 0.4s ease-in-out;

                            
                        }
                        .pourcentage
                        {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 10px;
                            font-size: 16px;
                            color : $color3;
                            opacity: 0.7;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                    }
                    
                }
            }

        }


    }

    
    .experience-container
    {
        width: 100%;
        box-sizing: border-box;
        padding: 100px 40px;
        background-color : $color2;

        .accordeon-container
        {
            .accordeon
            {
                border-bottom: 1px solid $color3;

                &.active 
                {
                    .group-title .arrow svg
                    {
                        
                        path 
                        {
                            fill : white;
                        }
                    }
                    .group-title::after 
                    {
                        left: 5%;
                        right: 5%;
                    }
                    .group-title 
                    {
                        background-color: $color3;
                        .title 
                        {
                            color: white;
                        }
                    }
                }

                &:last-child 
                {
                    border-bottom: none;
                }
                
                .group-title 
                {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 50px 60px 50px 40px;
                    box-sizing: border-box;
                    position: relative;
                    background-color: $color2;

                    transition: 0.2s ease-out;

                    &::after 
                    {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        right: 50%;
                        height: 1px;
                        background-color: $color3;
                        transition: 0.3s ease-out;
                    }

                    .title 
                    {
                        font-size: 24px;
                        font-weight: bold;
                        color: $color3;
                        transition: 0.2s ease-out;
                        text-transform: uppercase;
                    }

                    .arrow {
                        position: relative;
                        box-sizing: border-box;
                    
                        width: 50px;
                        height: 50px;
                    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    
                        transition :  0.3s ease-out;
                        svg {
                            transition: 0.3s ease-out;
                        }
                    
                        cursor: pointer;
                    
                        &:hover {
                           
                            &::after {
                                opacity: 0.2;
                            }
                        }
                    
                    


                        &::after 
                        {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            content: '';
                            border-radius: 50%;
                            background-color : $color5;
                            opacity: 0.1;
                            transition: 0.3s ease-out;
                        }

                        
                    }
                }
                .group-content
                {
                    height: 0px;
                    width: 100%;
                    overflow :hidden;
                    transition: 0.2s ease-out;

                    display: flex;
                    justify-content: space-between;
                    gap: 80px;

                  
                    .image-container
                    {
                        display: grid;
                        grid-template-columns: 1fr 1fr; /* Crée deux colonnes */
                        grid-template-rows: 1fr 1fr;
                        gap: 15px;

                        margin: 60px 0px 40px 10px;
                        .image 
                        {
                            width: 200px;
                            aspect-ratio: 16/9;

                            &:nth-child(1)
                            {
                                background-color: lightblue;
                            }
                            &:nth-child(2)
                            {
                                background-color: lightgreen;
                            }
                            &:nth-child(3)
                            {
                                background-color: lightpink;
                            }
                            &:nth-child(4)
                            {
                                background-color: lightyellow;
                            }


                            
                        }
                    }
                    .text-container
                    {
                        margin : 60px 30px 40px 0px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        color: $color3;
                        .text 
                        {
                            font-size: 20px;
                            font-weight :light;

                        }
                        .date 
                        {
                            align-self: flex-end;
                            font-size: 14px;
                            font-weight: 300;
                            text-transform: uppercase;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        .cv-container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color3;

            
            box-sizing: border-box;
            overflow: hidden;
            position: relative;

            cursor: pointer;

            &:hover 
            {
                a 
                {
                    transform: scale(1.05);
                }
                &::before 
                {
                    transform: scale(2);
                }
                svg 
                {
                    transform: translate(5px, -5px) rotate(15deg);

                }
            }
            
            &::before 
            {
                position: absolute;
                content: '';
                top: 0px;;
                left: 0;
                bottom: 0px;
                right: 0;
                background-color: $color4;
                border-radius: 50%;
                transform: scale(0);

                transition: 0.5s ease-out;
            }

            a
            {
                background-color: $color3;
                color: white;
                text-decoration: none;
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
                transition: 0.3s ease-out;
                z-index: 1;
                background-color: transparent;

                display: flex;
                align-items: center;
                justify-content: center;

                padding: 50px;
                width: 100%;
                height: 100%;
                gap : 12px;

                svg 
                {
                    transition: 0.3s ease-in-out;
                
                }
            }
        }
    }

    .hero-container
    {
        

        width: 100%;
        aspect-ratio: 16/9;
        position: relative;
        
        .parallax-container 
        {
            height: 100%;
            width: 100%;

            

            

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow :hidden;

            .group-title 
            {
                position: absolute;
                left: 45px;
                right: 0;
                bottom: 0;
                top: 0;

                

                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                

                .title
                {
                    font-size: 70px;
                    color: white;
                    text-transform: uppercase;
                    line-height: 80px;
                    z-index: 1;

                    opacity: 0.2;
                    transition: 0.3s ease-out; 

                    &.active 
                    {
                        opacity: 1;
                    }
                }
                .subtitle
                {
                    font-size: 20px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 300;
                    line-height: 30px;
                    z-index: 1;

                    opacity: 0.2;
                    transition: 0.3s ease-out; 

                    &.active 
                    {
                        opacity: 1;
                    }
                }
            }

            .cover 
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                z-index : 1;
                
                background-color: rgba(0,0,0,0.4);

            }

            .parallax 
            {
                position : relative;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;



                img 
                {
                    object-fit: cover;
                    // center
                    
                    
                    width: 100%;
                    height: 100%;
                
                }
            }
        }


    }

    .text-block
    {
        width: 100%;
        box-sizing: border-box;
        padding: 100px 70px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $color3;

        .text 
        {
            text-align: center;

            color: white;
            text-transform: uppercase;
            font-size: 54px;
            font-weight: bold;

            span 
            {
                position: relative;
                cursor: pointer;
                &::after 
                {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: white;

                    transition: 0.3s ease-out;
                }
                &:hover 
                {
                    &::after
                    {
                        bottom: 50%;
                        height: 4px;
                    }
                }
            }

        }

    }

   
}