section#contact
{
    .header-container
    {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color : $color3;
        color: white;

        

        .slide-title
        {
            margin: 55px 0;
            font-size: var(--slide-title);
            font-weight: bold;
            text-transform: uppercase;
            width: 100%;
            
            white-space: nowrap;

            display: flex;
            overflow: hidden;
          
            .group 
            {
                overflow: visible;
                transition: 0.1s ease-out;
                transform: translate(0%, 0);
            }

        }
        .text-container
        {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            padding: 60px 40px 110px 40px;
            box-sizing: border-box;
            position: relative;

            @include responsive(phone)
            {
                padding: 40px 20px;
            }

            &::after 
            {
                content: '';
                position: absolute;
                height: 1px;
                bottom: 0;
                left: 40px;
                right: 40px;
                background-color: white;
                z-index: 1;
            }

            .text 
            {
                font-size: var(--medium-size);
                text-transform: uppercase;
                font-weight: 300;

                span 
                {
                    transition : 0.2s cubic-bezier(0.38, 0.005, 0.215, 1);
                    color: hsl(0, 0%, 0%, 0.2);
    
                    background-image: linear-gradient(90deg, $color1, $color1);
                    background-size: 0% 100%;
                    background-repeat: no-repeat;
                    background-clip: text;
                    display: inline;
                }


            }

            .click-to-scroll
            {
                display: flex;
                align-items: flex-start;
                gap: 30px;
                color: $color1;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                transform : translate(-30px, 0);
                opacity: 0;
                &::after 
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    left: 0;
                    right: 0;
                    background-color: $color3;
                    transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1) 0.3s;
                }

                &.active 
                {
                    transform : translate(0, 0);
                    opacity: 1;
                    &::after 
                    {
                        height: 0%;
                    }
                }


                &:hover 
                {
                    .scroll-text::before 
                    {
                        width: 100%;
                        left: 0;
                    }

                    &.first 
                    {
                        .scroll-icon 
                        {
                            transform: rotate(-45deg);
                        }
                    }
                    &.second 
                    {
                        .scroll-icon 
                        {
                            transform: rotate(45deg);
                        }
                    }

                    
                }
                .scroll-icon 
                {
                    transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .scroll-text
                {
                    font-size: var(--small-size);
                    line-height: 16px;
                    text-transform: uppercase;
                    font-weight: 300;
                    position: relative;

                    &::before 
                    {
                        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                        content : '';
                        position: absolute;
                        
                        width: 0;
                        right: 0;

                        bottom: -8px;
                        height: 1px;
                        background-color: $color1;

                        
                    }
                }
            }
        }
    }


    .content-container 
    {
        background-color: $color3;
                height: 100vh;

        box-sizing: border-box;
        padding : 140px 140px 160px 40px;

        @include responsive(tablet)
        {
            padding : 120px 30px 100px 30px;
            height: auto;
        }
        @include responsive(phone)
        {
            padding : 100px 20px 80px 20px;
            height: auto;
        }

        .hero-container
        {
            text-transform: uppercase;
            color: white;
            margin-bottom: 120px;
            .title 
            {
                font-size: var(--slide-title);
                font-weight: bold;
                line-height: 1;
                margin-bottom: 1rem;

                transform: translate(0, 30px);
                opacity: 0;
                position: relative;
                transition : 0.8s cubic-bezier(0.38, 0.005, 0.215, 1);
                &::after 
                {
                    position: absolute;
                    content : "";
                    background-color: $color3;
                    top: -10%;
                    left: 0;
                    right: 0;
                    height: 110%;
                    transition : 0.8s cubic-bezier(0.38, 0.005, 0.215, 1);
                }

                &.active 
                {
                    transform: translate(0, 0);
                    opacity: 1;
                    &::after 
                    {
                        height: 0%;
                    }
                }

            }
            .subtitle 
            {
                font-size: var(--medium-size);
                font-weight: 300;

                transform: translate(0, 30px);
                opacity: 0;
                position: relative;
                transition : 1.2s cubic-bezier(0.38, 0.005, 0.215, 1);
                &::after 
                {
                    position: absolute;
                    content : "";
                    background-color: $color3;
                    top: 0%;
                    left: 0;
                    right: 0;
                    height: 100%;
                    transition : 1.2s cubic-bezier(0.38, 0.005, 0.215, 1);
                }

                &.active 
                {
                    transform: translate(0, 0);
                    opacity: 1;
                    &::after 
                    {
                        height: 0%;
                    }
                }
            }   
        }

        .wrapper 
        {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            gap : 60px;

            

            .text 
            {
                @include responsive(phone)
                {
                    display: none;
                }

                font-size: var(--big-size); 
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                padding-left: 32px;
                box-sizing: border-box;
                border-left: 2px solid white;
                @include responsive(tablet)
                {
                    padding-left: 20px;
                }
            }

            form
            {
                width: 770px;

                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 60px;

                @include responsive(tablet)
                {
                    gap : 40px;
                }


                input 
                {
                    width: 100%;
                    height: 36px;
                    background-color: transparent;
                    outline : none;
                    border: none;
                    border-bottom: 1px solid rgb(255, 255, 255, 0.7);
                    font-size: var(--small-size);
                    color: white;
                    position: relative;

                    transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);

                    

                    &:focus ~ label, &:valid ~ label
                    {
                        top: 20%;
                        opacity: 0;
                    }
                    &:focus ~ span, &:valid ~ span
                    {
                        bottom: 100%;
                        opacity: 0.7;
                    }
                    &:focus 
                    {
                        border-bottom: 1px solid white;
                    }
                    
                }

                .group-input 
                {
                    position: relative;

                    
                    span 
                    {
                        position: absolute;
                        width: 100%;
                        bottom: 110%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: var(--xs-size);
                        font-weight: 300;
                        color: white;
                        opacity: 0;
                        pointer-events: none;
                        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                        
                    }
                    

                    label 
                    {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: var(--small-size);
                        font-weight: 300;
                        color: white;
                        opacity: 0.7;
                        pointer-events: none;
                        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                    }

                }
                

                .row 
                {
                    display: flex;
                    justify-content: space-between;
                    
                    .group-input 
                    {
                        width: 47%;
                    }
                    

                }

                button
                {
                    padding: 10px 20px;
                    box-sizing: border-box;
                    align-self: flex-end;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--xs-size);
                    
                    font-weight: 300;
                    text-transform: uppercase;
                    gap: 10px;

                    cursor: pointer;
                    border: none;
                    outline: none;

                    border-radius: 20px;

                    background-color: white;
                    color: $color3;

                    transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                    position: relative;
                    overflow: hidden;

                    .text-button 
                    {
                        position: relative;
                        z-index: 1;
                        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                    }
                    svg
                    {
                        position: relative;
                        z-index: 1;
                        path 
                        {
                            stroke: $color3;
                            transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                        }
                    }

                    &:hover, &:focus
                    {
                        outline: 1px solid white;
                        .text-button 
                        {
                            color: white;
                        }

                        path 
                        {
                            stroke: white;
                        }
                        &::before 
                        {
                            transform: scale(1);
                        }
                        &::after 
                        {
                            transform: scale(1);
                        }
                    }

                    &::before 
                    {
                        content: '';
                        position: absolute;
                        top: -100%;
                        left: -10px;
                        right: -10px;

                        background-color: $color4;
                        border-radius: 50%;

                        aspect-ratio: 1/1;

                        transform: scale(0);
                        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);

                        z-index: 0;
                        opacity: 0.5;
                    }

                    &::after 
                    {
                        content: '';
                        position: absolute;
                        top: -100%;
                        left: -10px;
                        right: -10px;

                        background-color: $color3;
                        border-radius: 50%;

                        aspect-ratio: 1/1;

                        transform: scale(0);
                        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                        transition-delay: 0.15s;

                        z-index: 0;
                    }


                    .spinner {
                        display: none;
                        border: 1px solid $color1;
                        border-left-color: transparent;
                        width: 15px;
                        height: 15px;
                        animation: spin89345 1s linear infinite;
                        border-radius: 50%;
                        z-index : 1;
                        position: relative;
                      }
                      
                      @keyframes spin89345 {
                        0% {
                          transform: rotate(0deg);
                        }
                      
                        100% {
                          transform: rotate(360deg);
                        }
                      }

                    


                }
            }
        }
    }
}