section#last-projects
{
    background-color: $color3;
    color : $color1;

    @include responsive(phone)
    {
        display: none;
    }

    .header-container
    {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

      

        .slide-title
        {

            


            margin: 55px 0;
            font-size: var(--slide-title);
            font-weight: bold;
            text-transform: uppercase;
            width: 100%;
            
            white-space: nowrap;

            display: flex;
            overflow: hidden;
            .group
            {
                overflow: visible;
                transition: 0.1s ease-out;
                transform: translate(-30%, 0);
            }
        }
        .text-container
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 60px 40px;
            box-sizing: border-box;

            .text 
            {
                font-size: var(--medium-size);
                text-transform: uppercase;
                font-weight: 300;
                
            }

            .click-to-scroll
            {
                display: flex;
                align-items: flex-start;
                gap: 30px;
                color: white;
                text-decoration: none;
                cursor: pointer;

                

                &:hover 
                {
                    .scroll-text::before 
                    {
                        width: 100%;
                        left: 0;
                    }
                    &.first 
                    {
                        .scroll-icon 
                        {
                            transform: rotate(-45deg);
                        }
                    }
                    &.second 
                    {
                        .scroll-icon 
                        {
                            transform: rotate(45deg);
                        }
                    }
                }
                .scroll-icon 
                {
                    transition: 0.3s ease-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .scroll-text
                {
                    font-size: var(--medium-size);
                    line-height: 16px;
                    text-transform: uppercase;
                    font-weight: 300;
                    position: relative;
                    

                    &::before 
                    {
                        transition: 0.3s ease-out;
                        content : '';
                        position: absolute;
                        
                        width: 0;
                        right: 0;

                        bottom: -8px;
                        height: 1px;
                        background-color: $color1;

                        
                    }
                }
            }
        }
    }


    .content-container
    {
        
        background-color: $color3; 

        overflow: hidden;
        position: relative;

        .switch-container
        {
            overflow: visible;
            display: flex;
            width: 100vw;
            height: 100vh;


            transition : transform 0.50s ease-out;

            position: absolute;

            &.active 
            {
                position: fixed;
                top: 0;
            }
            &.top 
            {
                top: 0;
                bottom: auto;
            }
            &.bottom 
            {
                top: auto;
                bottom: 0;
            }

            .switch-box
            {
                width: 100vw;
                height: 100vh;
                flex-shrink : 0;
                position: relative;

                

                .background
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;

                    pointer-events: none;
                }

                .cover 
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;

                    opacity: 0.5;
                    background: linear-gradient(223.43deg, rgba(15, 23, 42, 0) 58.22%, #0F172A 88.25%);

                    pointer-events: none;
                }

                .content
                {
                    position: absolute;
                    z-index: 2;
                    bottom: 24%;
                    left: 45px;

                    backdrop-filter: blur(10px);
                
                    display: flex;
                    flex-direction: column;
                    max-width: 400px;

                    text-decoration: none;


                    .title 
                    {
                        position: relative;
                        font-size: var(--last-project-title);
                        color: #ffffff;
                        font-weight: bold;
                        line-height: 80px;
                        text-transform: uppercase;
                        opacity: 0;
                        top: -40px;
                    }
                    .subtitle, .text
                    {
                        position: relative;
                        font-weight: 300;
                        color: #ffffff;
                        opacity: 0;
                        top: -40px;
                    }
                    .subtitle 
                    {
                        font-size: var(--small-size);
                        text-transform: uppercase;
                    }
                    .text 
                    {
                        
                        font-size: var(--medium-size);
                    }


                    &.appear
                    {
                        .subtitle
                        {
                            animation: content-appear 0.5s ease-out 0.5s forwards;
                        }
                        .title 
                        {
                            animation: content-appear 0.5s ease-out 0.7s  forwards;
                        }
                        .text
                        {
                            animation: content-appear 0.5s ease-out 0.9s forwards;
                        }  
                    }

                    &.disappear
                    {
                        .text
                        {
                            animation: content-disappear 0.5s ease-out forwards;
                        }
                        .title 
                        {
                            animation: content-disappear 0.5s ease-out 0.2s forwards;
                        }
                        .subtitle
                        {
                            animation: content-disappear 0.5s ease-out 0.4s forwards;
                        } 
                    }

                    @keyframes content-appear {
                        0%{
                            opacity: 0;
                            top: -40px;
                        }
                        100%{
                            opacity: 1;
                            top: 0px;
                        }
                    }
                    @keyframes content-disappear {
                        0%{
                            opacity: 1;
                            top: 0px;
                        }
                        100%{
                            opacity: 0;
                            top: 40px;
                        }
                    }

                    

                }



                &:nth-child(1)
                {
                    background-color: $color4;
                }
                &:nth-child(2)
                {
                    background-color: $color3;
                }
                &:nth-child(3)
                {
                    background-color: $color5;
                }
                &:nth-child(4)
                {
                    background-color: $color2;
                }

            }
        }
        

        .switch-cover
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            backdrop-filter: blur(0px);

            z-index: 3;

            pointer-events: none;
            transition: all 0.50s ease-in-out;
        }

        .selector-container
        {
            position: fixed;
            bottom: 40px;
            left: 0;
            right: 0;
            
            display: flex;
            align-items:center;
            justify-content: center;

            z-index : 4;

            .arrow
            {
                display :flex;
                align-items: center;
                gap : 20px;
                font-weight: 300;
                font-size: var(--medium-size);
                cursor: pointer;

                position: absolute;
                
                opacity: 0;
                top: 30px;

                &.appear
                {
                    animation: selector-appear 0.5s ease-out 0.5s forwards;
                }
                &.disappear
                {
                    animation: selector-disappear 0.5s ease-out  forwards;
                }

                &.right 
                {
                    right: 45px;
                }
                &.left
                {
                    left: 45px;
                }
            }

            .selector 
            {

                display :flex;
                align-items: center;
                justify-content: center;
                gap : 40px;
                position: relative;

                top: 30px;
                opacity : 0;


                &.appear
                {
                    animation: selector-appear 0.5s ease-out 0.5s forwards;
                }
                &.disappear
                {
                    animation: selector-disappear 0.5s ease-out  forwards;
                }
    
                
                    
                li 
                {
                    list-style: none;
                    width: 20px;
                    height: 20px;

                    input[type="radio"] 
                    {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 14px;
                        width: 14px;
                        border-radius: 50%;
                        background-color: white;
                        cursor: pointer;
                        position: relative;
                        
                    }
                      
                    @keyframes circleAnimation {
                    0% {
                        clip-path: circle(0% at 50% 50%);
                    }
                    50% {
                        clip-path: circle(50% at 50% 50%);
                    }
                    100% {
                        clip-path: circle(100% at 50% 50%);
                    }
                }
                      
                      

                      input[type="radio"]::before {
                        content: '';
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        background-color: transparent;

                        z-index: -1;

                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        clip-path: circle(0% at 50% 50%);
                      }
                      
                      input[type="radio"]:checked::before {
                        outline : 2px solid white;
                        animation : circleAnimation 0.5s ease-out  forwards;

                      }
                      
                }

               
            }

            @keyframes selector-appear
            {
                0%{
                    opacity: 0;
                    top: 30px;
                }
                100%{
                    opacity: 1;
                    top: 0;
                }
            }
            @keyframes selector-disappear
            {
                0%{
                    opacity: 1;
                    top: 0;
                }
                100%{
                    opacity: 0;
                    top: 30px;
                }
            }

            
        }


        
    }

    .dummy-project
    {
        width: 100vw;
        height: 100vh;
    }
}