aside#gallery
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    backdrop-filter: blur(0px);

    transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);

    .gallery-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        top: 5%;

        width: 60%;

        @include responsive('tablet')
        {
            width: 92%;
        }
        @include responsive('phone')
        {
            width: 92%;
        }

        .image-display-container
        {
            position: relative;
            width: 90%;
            min-width: 800px;
            aspect-ratio: 16/9;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;

            @include responsive('tablet')
            {
                width: 90%;
                min-width: auto;
            }
            @include responsive('phone')
            {
                width: 90%;
                min-width: auto;
            }


            .image-display
            {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1) 0.3s;
                opacity: 0;
                z-index: 1;
            }
            .arrow-container
            {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
            
                transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1) 0.6s;
                opacity: 0;
                z-index: 0;

                @include responsive(phone)
                {
                    display: none;
                }
                
                .arrow 
                {
                    position : relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: rgb(0, 0, 0, 0.5);
                    &:hover 
                    {
                        background-color: rgb(0, 0, 0, 0.8);
                    }
                }

                &.prev
                {
                    left: 0px;
                }
                &.next
                {
                    right: 0px;
                }

            }
        }
    
        .thumbnail-container
        {
            position: relative;
            height: 100px;
            display: flex;
            gap: 15px;
            max-width: 800px;
            overflow: auto;
            box-sizing: border-box;
            padding: 0 10px 20px 10px;

            transform: translateY(20px);
            opacity: 0;
            transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1) 0.3s;

            @include responsive(phone)
            {
                width: 100%;
                flex-wrap: wrap;
                overflow: visible;
                height: auto;
                justify-content: space-between;
            }

            .thumbnail
            {
                height: 100%;
                aspect-ratio: 16/9;
                flex-shrink: 0;
                position: relative;
                cursor: pointer;
                transition:0.6s cubic-bezier(0.38, 0.005, 0.215, 1);

                @include responsive(phone)
                {
                    width: 46%;
                    apsect-ratio: 16/9;
                    margin-bottom: 20px;
                }

                &:hover 
                {
                    transform : scale(1.05);
                    
                }

                &::after 
                {
                    content: "";
                    position: absolute;
                    
                    bottom: -10px;
                    right: 50%;
                    left: 50%;
                    height: 2px;

                    background-color: white;
                    opacity: 0;
                    transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
                }

                &.active 
                {
                    animation : animation-opacity-bounce 200ms ease-out;
                    &::after 
                    {
                        opacity: 1;
                        right: 0;
                        left: 0;
                    }
                }

                @keyframes animation-opacity-bounce
                {
                    0%{
                        transform: scale(1.05);
                    }
                    50%{
                        transform: scale(0.95);
                    }
                    100%{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    &.active 
    {
        opacity: 1;
        pointer-events: all;
        backdrop-filter: blur(5px);
        .cover 
        {
            opacity: 0.6;
            
        }
        .close 
        {
            right: 20px;
            opacity: 1;
            
        }
        .thumbnail-container
        {
            transform: translateY(0px);
            opacity: 1;
        }
        .image-display-container
        {
            .image-display
            {
                opacity: 1;
            }
            .arrow-container
            {
                opacity: 1;
                &.prev
                {
                    left: -100px;
                    @include responsive('tablet')
                    {
                        left: -75px;
                    }

                }
                &.next
                {
                    right: -100px;
                    @include responsive('tablet')
                    {
                        right: -75px;
                    }
                }
            }
        }
    }

    

    .cover
    {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0;

        transition : all 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
        z-index: 0;
    }
    .close 
    {
        position: absolute;
        top: 20px;
        right: 0px;
        opacity: 0;
        z-index: 1;
        color: white;
        cursor: pointer;
        transition: 0.6s cubic-bezier(0.38, 0.005, 0.215, 1) 0.3s;
        font-size: var(--small-size);
    }
}