aside.mouse-cursor 
{
    transition: top 0.25s ease-out, left 0.25s ease-out, transform 0.3s cubic-bezier(0.38, 0.005, 0.215, 1), opacity 0.6s cubic-bezier(0.38, 0.005, 0.215, 1), background-color 0.3s cubic-bezier(0.38, 0.005, 0.215, 1), outline 0.3s cubic-bezier(0.38, 0.005, 0.215, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline : 2px solid rgb(153, 153, 153);
    background-color: transparent;

    position: fixed;
    z-index: 50;

    top : -50px;
    left: -50px;


    pointer-events: none;
    opacity: 1;
    cursor : none;

    display: flex;
    align-items: center;
    justify-content: center;

    div 
    {
        display: none;
        align-items: center;
        justify-content: center;
    }

    &.image
    {
        transform: scale(2.3);
        outline : 0px; 
        cursor: pointer;
        background-color : $color3;
        .image 
        {
            display: flex;
        }
    }
    &.link
    {
        transform: scale(2.3);
        outline : 0px; 
        cursor: pointer;
        background-color : #F88379;
        .link 
        {
            display: flex;
        }
    }
    &.sticky 
    {
        outline: 1px solid rgb(153, 153, 153)
    }
    &.button
    {
        opacity: 0;
    }
}

.square
{
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(153, 153, 153);
    opacity: 0.5;
}