nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: $sm-spacing;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;

    transition: all $fast-animation;

    @include respond("breakpoint") {
        bottom: 2rem;
        gap: $xs-spacing;
    }

    .nav-content {
        display: flex;
        align-items: center;
        gap: $xxs-spacing;

        background-color: $block-bg;
        border-radius: 10px;
        border: 1px solid $block-border;

        width: 100%;
        transition: all $fast-animation;
        position: relative;

        height: 40px;

        // overflow: hidden;

        .nav-separator {
            height: 90%;
            width: 1px;
            background-color: $block-border;
        }

        .nav-select {
            position: relative;
            flex: 0;

            &.active {
                .nav-select-button svg {
                    transform: rotate(-90deg);
                }
            }

            .nav-select-container {
                position: absolute;
                left: 50%;
                bottom: 100%;

                transform: translateY(-$sm-spacing) translateX(-50%);

                display: flex;
                flex-direction: column;
                gap: $xxs-spacing;

                background-color: $block-bg;
                border: 1px solid $block-border;
                border-radius: $border-radius;

                padding: $xs-spacing $xxs-spacing;
                width: max-content;

                flex: 0;


                

                .nav-select-item {
                    white-space: nowrap;
                    font-size: 14px;
                    color: $body-color-light;

                    background-color: transparent;
                    border: none;
                    border-radius: 10px;
                    padding: $xs-spacing $sm-spacing;

                    cursor: pointer;
                    &.active,
                    &:hover {
                        background-color: $block-btn-bg;
                    }
                }
            }

            .nav-select-button {
                display: flex;

                align-items: center;
                justify-content: space-between;
                gap: $sm-spacing;

                white-space: nowrap;

                background-color: transparent;
                border: none;
                
                padding: $xs-spacing $sm-spacing;

                cursor: pointer;

                font-size: 16px;
                line-height: 16px;
                font-weight: 500;
                color: $body-color-light;

                svg {
                    transform: rotate(90deg);
                    transition: all $very-fast-animation;
                }

            }
        }
    }

    button.close-button {
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1 / 1;

        background-color: $block-btn-bg;
        border: none;
        border-radius: 50%;
        color: $block-btn-color;
        cursor: pointer;
        padding: 0.7rem;

        transition: all $slow-animation;

        border: 1px solid $block-border;
    }

    .link-group {
        display: flex;
        align-items: center;
        gap: 1rem;

        background-color: $body-bg;
        border-radius: 10px;
        border: 1px solid rgba($body-color-light, 0.5);

        width: 100%;

        transition: all $fast-animation;
        overflow: hidden;
        position: relative;

        a {
            color: $body-color-light;
            font-size: 16px;
            text-decoration: none;

            padding: $xs-spacing $sm-spacing;
            white-space: nowrap;
            transition: all $fast-animation;

            position: relative;
            z-index: 1;

            width: 100%;

            &.disabled {
                color: $body-color-light;
                opacity: 0.2;
                cursor: default;
            }

            &.active {
                font-weight: 500;
                background-color: $block-bg;
                border-radius: $border-radius;
            }
        }
    }

    .back-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $sm-spacing;

        background-color: $block-bg;
        border-radius: 10px;
        border: 1px solid $block-border;

        white-space: nowrap;

        height: 40px;
        width: 100%;
        padding: $xs-spacing $sm-spacing;

        transition: all $fast-animation;
        overflow: hidden;
        position: relative;

        color: $body-color-light;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

    &.open {
        .nav-content {
            opacity: 1;
            pointer-events: all;
            width: 100%;
            padding: $xxs-spacing $xs-spacing;
        }
        a.back-button {
            opacity: 1;
            pointer-events: all;
            width: 100%;
        }
    }

    &.closed {
        .nav-content {
            opacity: 0;
            padding: $xxs-spacing 0;
            pointer-events: none;
            width: 0;
        }

        button.close-button {
            transform: rotate(-135deg) scale(1.2);
        }

        a.back-button {
            opacity: 0;
            pointer-events: none;
            width: 0;
            padding: 0;
        }

        gap: 0;
    }
}
