nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: $sm-spacing;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;

    transition: all $fast-animation;

    @include respond("breakpoint") {
        bottom: 2rem;
        gap: $xs-spacing;
    }

    .nav-content {
        display: flex;
        align-items: center;
        gap: $xxs-spacing;

        background-color: var(--block-bg);
        border-radius: 10px;
        border: 1px solid var(--block-border);

        width: 100%;
        transition: all $fast-animation;
        position: relative;

        height: 40px;

        .nav-separator {
            height: 90%;
            width: 1px;
            background-color: var(--block-border);
            flex-shrink: 0;
        }

        .nav-select {
            position: relative;
            flex: 0;

            &.active {
                .nav-select-button svg {
                    transform: rotate(-90deg) scale(1.2);
                }

                .nav-select-container {
                    transform: translateY(-$sm-spacing) translateX(-50%) scale(1);
                    opacity: 1;
                    pointer-events: all;
                }
            }

            .nav-select-container {
                position: absolute;
                left: 50%;
                bottom: 100%;

                transition: all $very-fast-animation;

                transform: translateY(0) translateX(-50%) scale(0.9);
                opacity: 0;
                pointer-events: none;

                display: flex;
                flex-direction: column;
                gap: $xxs-spacing;

                background-color: var(--block-bg);
                border: 1px solid var(--block-border);
                border-radius: $border-radius;

                padding: $xs-spacing $xxs-spacing;
                width: max-content;

                flex: 0;



                

                .nav-select-item {
                    white-space: nowrap;
                    font-size: 14px;
                    color: var(--body-color-light);

                    background-color: transparent;
                    border: none;
                    border-radius: $border-radius;
                    padding: $xs-spacing $sm-spacing;

                    transition: all $very-fast-animation;

                    cursor: pointer;
                    &.active,
                    &:hover {
                        background-color: var(--block-btn-bg);
                    }

                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            .nav-select-button {
                display: flex;

                align-items: center;
                justify-content: space-between;
                gap: $sm-spacing;

                white-space: nowrap;

                background-color: transparent;
                border: none;
                
                padding: $xs-spacing $sm-spacing;

                cursor: pointer;
                color: var(--body-color-light);
                border-radius: $border-radius;

                    font-size: 14px;
                    letter-spacing: 0.5px;
                    font-weight: 400;

                &:hover {
                    background-color: var(--block-btn-bg);
                }

                svg {
                    transform: rotate(90deg) scale(1.2);
                    transition: all $very-fast-animation;

                    path {
                        fill: var(--block-btn-color);
                    }
                }

            }
        }


        .nav-toggle {

            display: flex;
            align-items: center;
            justify-content: center;


            // position: relative;

            background-color: transparent;
            outline: none;
            border: none;

            color: var(--body-color-light);
            padding: $xs-spacing $x-spacing;

            cursor: pointer;

            transition: all $very-fast-animation;

            &:hover {
                background-color: var(--block-btn-bg);
                border-radius: $border-radius;
            }

            .nav-toggle-item {

                display: none;
                transform: scale(0);

                align-items: center;
                justify-content: center;
                gap: $xs-spacing;

                span {
                    font-size: 14px;
                    letter-spacing: 0px;
                    font-weight: 400;
                }

                &.active {
                    display: flex;
                    transform: scale(1);
                }
            }
        }

    }

    button.close-button {
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1 / 1;

        background-color: var(--block-btn-bg);
        border: none;
        border-radius: 50%;
        color: var(--block-btn-colo);
        cursor: pointer;
        padding: 0.7rem;

        transition: all $slow-animation;

        border: 1px solid var(--block-border);

        svg path {
            fill: var(--body-color-light);
            transition: all $fast-animation;
        }
    }

   
    .back-button {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: $xs-spacing;

        background-color: var(--block-bg);
        border-radius: $border-radius;

        white-space: nowrap;

        width: 100%;
        padding: $xs-spacing $sm-spacing;

        transition: all $fast-animation;
        position: relative;

        color: var(--body-color-light);
        text-decoration: none;

        span {
            font-size: 14px;
            letter-spacing: 0px;
            font-weight: 400;
        }

        svg path {
            fill: var(--block-btn-color);
        }

        &:hover {
            background-color: var(--block-btn-bg);
        }
    }

    &.open {
        .nav-content {
            opacity: 1;
            pointer-events: all;
            width: 100%;
            padding: $xxs-spacing $xs-spacing;
        }
        a.back-button {
            opacity: 1;
            pointer-events: all;
            width: 100%;
        }
    }

    &.closed {
        .nav-content {
            opacity: 0;
            padding: $xxs-spacing 0;
            pointer-events: none;
            width: 0;

            overflow: hidden;
        }

        button.close-button {
            transform: rotate(-135deg) scale(1.2);
        }

        a.back-button {
            opacity: 0;
            pointer-events: none;
            width: 0;
            padding: 0;
        }

        gap: 0;
    }
}
