@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 45px;
}
header.appear {
  animation: header-appear 0.5s ease-in-out forwards;
}
header.disappear {
  animation: header-disappear 0.5s ease-in-out forwards;
}
header .socials, header .nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
}
header .socials a, header .socials path, header .nav a, header .nav path {
  transition: 0.3s ease-out;
}
@keyframes nav-link-flip {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}
@keyframes nav-link-unflip {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes header-appear {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
@keyframes header-disappear {
  0% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}
header .nav li {
  position: relative;
  padding: 4px 0;
}
header .nav li a {
  margin: 2px;
  display: block;
  position: relative;
  color: #333333;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
header .nav li a .first {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}
header .nav li a .second {
  position: absolute;
  white-space: nowrap;
  transition: all 0.15s ease-out, opacity 0.15s ease-out;
  opacity: 0;
  top: 6px;
  font-weight: bold;
}
header .nav li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #333333;
  bottom: 0px;
  transition: 0.2s ease-in-out;
  right: 0;
}
header .nav li:hover::before {
  left: 0;
  width: 100%;
}
header .nav li:hover a .first {
  transform: translateY(-10px);
  opacity: 0;
}
header .nav li:hover a .second {
  top: 0px;
  opacity: 1;
}

aside.preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #333333;
  z-index: 999;
  top: 0;
  animation: preloader-out 0.3s ease-in-out forwards 1s;
}
@keyframes preloader-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 1;
  }
}

section#home {
  width: 100vw;
  height: 100vh;
  background-color: #F0F0F0;
}
@keyframes home-slide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
section#home .container {
  position: absolute;
  bottom: 20vh;
  left: 30px;
}
section#home .container .title, section#home .container .name {
  font-size: 96px;
  font-weight: bold;
  color: #1C1D1F;
  text-transform: uppercase;
}
section#home .container .line {
  display: flex;
}
section#home .container .line .subtitle {
  margin-top: 22px;
  line-height: 20px;
  width: 300px;
  margin-right: 20px;
  font-size: 16px;
  color: #1C1D1F;
  font-weight: 300;
  text-transform: uppercase;
}
section#home .container .title {
  opacity: 0;
  transform: translateY(-30px);
  animation: home-slide 0.5s ease-in-out forwards 1.2s;
}
section#home .container .line {
  opacity: 0;
  transform: translateY(-30px);
  animation: home-slide 0.5s ease-in-out 1.4s forwards;
}

section#all-projects {
  color: #FFFFFF;
  background-color: #2C3E50;
}
section#all-projects .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section#all-projects .header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
  background: linear-gradient(to bottom, #1C1D1F, #2C3E50);
}
@keyframes continuous-scroll-title {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
section#all-projects .header-container .slide-title {
  margin: 55px 0 200px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 50%;
}
section#all-projects .header-container .slide-title .group {
  animation: continuous-scroll-title 10s linear infinite;
}
section#all-projects .header-container .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 400px 40px 60px 40px;
  box-sizing: border-box;
}
section#all-projects .header-container .text-container .text {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
section#all-projects .header-container .click-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 25px 40px;
  box-sizing: border-box;
  position: relative;
}
section#all-projects .header-container .click-container::after {
  position: absolute;
  content: "";
  right: 40px;
  left: 40px;
  bottom: 0;
  height: 1px;
  background-color: #d9d9d9;
}
section#all-projects .header-container .click-container .click-to-scroll {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
section#all-projects .header-container .click-container .click-to-scroll .scroll-text {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
section#all-projects .content-container {
  background-color: #2C3E50;
}
section#all-projects .content-container .selector-container {
  box-sizing: border-box;
  margin: 80px 40px 0 40px;
  display: flex;
  gap: 40px;
}
section#all-projects .content-container .selector-container .options-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 0px;
  opacity: 0;
  overflow: hidden;
}
section#all-projects .content-container .selector-container .options-container.appear {
  animation: options-container-appear 0.2s ease-in-out forwards;
}
section#all-projects .content-container .selector-container .options-container.disappear {
  animation: options-container-disappear 0.2s ease-in-out forwards;
}
section#all-projects .content-container .selector-container .options-container .option {
  box-sizing: border-box;
  padding: 4px 12px;
  border-radius: 30px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
section#all-projects .content-container .selector-container .options-container .option:hover {
  background-color: #333333;
}
section#all-projects .content-container .selector-container .options-container .option.hide {
  display: none;
}
@keyframes options-container-appear {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes options-container-disappear {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}
section#all-projects .content-container .selector-container .selected {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 60px;
  padding: 4px 0;
  cursor: pointer;
}
section#all-projects .content-container .selector-container .selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #FFFFFF;
  transition: 0.2s ease-out;
}
section#all-projects .content-container .selector-container .selected.open::after {
  left: 100%;
}
section#all-projects .content-container .selector-container .selected.open .arrow {
  transform: rotate(-90deg);
}
section#all-projects .content-container .selector-container .selected.closed::after {
  left: 0;
}
section#all-projects .content-container .selector-container .selected.closed .arrow {
  transform: rotate(0deg);
}
section#all-projects .content-container .selector-container .selected .text {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}
section#all-projects .content-container .selector-container .selected .arrow {
  transition: 0.1s ease-out;
}
section#all-projects .content-container .container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#all-projects .content-container .container .group-container {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 80px 0;
  opacity: 0;
  filter: blur(10px);
  transform: scale(0.9);
}
section#all-projects .content-container .container .group-container.appear {
  animation: group-appear 0.5s ease-in-out forwards;
}
section#all-projects .content-container .container .group-container.disappear {
  animation: group-disappear 0.2s ease-in-out forwards;
}
@keyframes group-appear {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}
@keyframes group-disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
section#all-projects .content-container .container .group-container .img-container {
  width: 100%;
  height: 400px;
  background-color: white;
  transition: 0.4s ease-out;
  cursor: pointer;
}
section#all-projects .content-container .container .group-container .img-container:hover {
  transform: scale(1.05);
}
section#all-projects .content-container .container .group-container .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
section#all-projects .content-container .container .group-container .text-container .title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
section#all-projects .content-container .container .group-container .text-container .subtitle {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.7;
  text-transform: uppercase;
  color: #FFFFFF;
}

section#last-projects {
  background-color: #1C1D1F;
  color: #FFFFFF;
}
section#last-projects .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@keyframes continuous-scroll-title {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
section#last-projects .header-container .slide-title {
  margin: 55px 0;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
}
section#last-projects .header-container .slide-title .group {
  animation: continuous-scroll-title 10s linear infinite;
}
section#last-projects .header-container .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
}
section#last-projects .header-container .text-container .text {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
section#last-projects .header-container .text-container .click-to-scroll {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
section#last-projects .header-container .text-container .click-to-scroll .scroll-text {
  font-size: 22px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
section#last-projects .content-container {
  width: 100vw;
  height: 100vh;
  background-color: #1C1D1F;
  overflow: hidden;
  position: relative;
}
section#last-projects .content-container .switch-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0px);
  z-index: 3;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
section#last-projects .content-container .selector-container {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
section#last-projects .content-container .selector-container .arrow {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 30px;
}
section#last-projects .content-container .selector-container .arrow.appear {
  animation: selector-appear 0.5s ease-out forwards;
}
section#last-projects .content-container .selector-container .arrow.disappear {
  animation: selector-disappear 0.5s ease-out forwards;
}
section#last-projects .content-container .selector-container .arrow.right {
  right: 45px;
}
section#last-projects .content-container .selector-container .arrow.left {
  left: 45px;
}
section#last-projects .content-container .selector-container .arrow svg {
  transition: transform 0.2s ease-out;
}
section#last-projects .content-container .selector-container .arrow.right:hover svg {
  transform: translateX(4px);
}
section#last-projects .content-container .selector-container .arrow.left:hover svg {
  transform: translateX(-4px);
}
section#last-projects .content-container .selector-container .selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  top: 30px;
  opacity: 0;
}
section#last-projects .content-container .selector-container .selector.appear {
  animation: selector-appear 0.5s ease-out forwards;
}
section#last-projects .content-container .selector-container .selector.disappear {
  animation: selector-disappear 0.5s ease-out forwards;
}
section#last-projects .content-container .selector-container .selector li {
  list-style: none;
  width: 20px;
  height: 20px;
}
section#last-projects .content-container .selector-container .selector li input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
}
@keyframes circleAnimation {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  50% {
    clip-path: circle(50% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
section#last-projects .content-container .selector-container .selector li input[type=radio]::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(0% at 50% 50%);
}
section#last-projects .content-container .selector-container .selector li input[type=radio]:checked::before {
  outline: 2px solid white;
  animation: circleAnimation 0.5s ease-out forwards;
}
@keyframes selector-appear {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes selector-disappear {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
section#last-projects .content-container .switch-container {
  overflow: visible;
  display: flex;
  transition: transform 0.5s ease-out;
}
section#last-projects .content-container .switch-container .switch-box {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
}
section#last-projects .content-container .switch-container .switch-box .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
section#last-projects .content-container .switch-container .switch-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  background: linear-gradient(223.43deg, rgba(15, 23, 42, 0) 58.22%, #0F172A 88.25%);
  pointer-events: none;
}
section#last-projects .content-container .switch-container .switch-box .content {
  position: absolute;
  z-index: 2;
  bottom: 24%;
  left: 45px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
section#last-projects .content-container .switch-container .switch-box .content .title {
  position: relative;
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
  line-height: 80px;
  text-transform: uppercase;
  opacity: 0;
  top: -40px;
}
section#last-projects .content-container .switch-container .switch-box .content .subtitle, section#last-projects .content-container .switch-container .switch-box .content .text {
  font-size: 16px;
  position: relative;
  font-weight: light;
  color: #ffffff;
  opacity: 0;
  top: -40px;
}
section#last-projects .content-container .switch-container .switch-box .content .subtitle {
  text-transform: uppercase;
}
section#last-projects .content-container .switch-container .switch-box .content.appear .subtitle {
  animation: content-appear 0.5s ease-out forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.appear .title {
  animation: content-appear 0.5s ease-out 0.2s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.appear .text {
  animation: content-appear 0.5s ease-out 0.4s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.disappear .text {
  animation: content-disappear 0.5s ease-out forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.disappear .title {
  animation: content-disappear 0.5s ease-out 0.2s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.disappear .subtitle {
  animation: content-disappear 0.5s ease-out 0.4s forwards;
}
@keyframes content-appear {
  0% {
    opacity: 0;
    top: -40px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes content-disappear {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 40px;
  }
}
section#last-projects .content-container .switch-container .switch-box:nth-child(1) {
  background-color: red;
}
section#last-projects .content-container .switch-container .switch-box:nth-child(2) {
  background-color: blue;
}
section#last-projects .content-container .switch-container .switch-box:nth-child(3) {
  background-color: green;
}
section#last-projects .content-container .switch-container .switch-box:nth-child(4) {
  background-color: orange;
}

.dummy-container {
  width: 100%;
  height: 200px;
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
