@charset "UTF-8";
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../font/Karla/static/Karla-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

html {
  scroll-behavior: smooth;
}

.animation-opacity {
  opacity: 0.1;
}
.animation-opacity.appear {
  animation: animation-opacity-appear 0.3s ease-out forwards;
}
.animation-opacity.disappear {
  animation: animation-opacity-disappear 0.3s ease-out forwards;
}
@keyframes animation-opacity-appear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-opacity-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.animation-translate {
  opacity: 0;
  transform: translateY(-50px);
}
.animation-translate.appear {
  animation: animation-translate-appear 0.5s ease-in forwards;
}
.animation-translate.disappear {
  animation: animation-translate-disappear 0.5s ease-in forwards;
}
@keyframes animation-translate-appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes animation-translate-disappear {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.follow-cursor {
  transition: top 0.3s ease-out, left 0.3s ease-out;
}

header {
  position: fixed;
  z-index: 9999;
  top: -100px;
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: 0.4s ease-in-out;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 45px;
}
header.dark {
  background-color: rgba(255, 255, 255, 0.2);
}
header.dark .nav li a {
  color: #333333;
}
header.dark .nav li::before {
  background-color: #333333;
}
header.dark .socials .fill {
  fill: #333333;
}
header.dark .socials .stroke {
  stroke: #333333;
}
header.light {
  background-color: rgba(0, 0, 0, 0.2);
}
header.light .nav li a {
  color: #FFFFFF;
}
header.light .nav li::before {
  background-color: #FFFFFF;
}
header.light .socials .fill {
  fill: #FFFFFF;
}
header.light .socials .stroke {
  stroke: #FFFFFF;
}
header.active {
  top: 0;
  opacity: 1;
  backdrop-filter: blur(10px);
}
header .socials, header .nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
}
header .socials a, header .socials path, header .nav a, header .nav path {
  transition: 0.3s ease-out;
}
@keyframes nav-link-flip {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}
@keyframes nav-link-unflip {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header .nav li {
  position: relative;
  padding: 4px 0;
}
header .nav li a {
  margin: 2px;
  display: block;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
header .nav li a .first {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}
header .nav li a .second {
  position: absolute;
  white-space: nowrap;
  transition: all 0.15s ease-out, opacity 0.15s ease-out;
  opacity: 0;
  top: 6px;
  font-weight: bold;
}
header .nav li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0px;
  transition: 0.2s ease-in-out;
  right: 0;
}
header .nav li:hover::before {
  left: 0;
  width: 100%;
}
header .nav li:hover a .first {
  transform: translateY(-10px);
  opacity: 0;
}
header .nav li:hover a .second {
  top: 0px;
  opacity: 1;
}
header .socials path {
  transition: 0.3s ease-out;
}

footer {
  box-sizing: border-box;
  padding: 50px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  background-color: #1C1D1F;
}
footer .click-to-scroll {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
footer .click-to-scroll:hover .scroll-text::before {
  width: 100%;
  left: 0;
}
footer .click-to-scroll:hover.first .scroll-icon {
  transform: rotate(-45deg);
}
footer .click-to-scroll:hover.second .scroll-icon {
  transform: rotate(45deg);
}
footer .click-to-scroll .scroll-icon {
  transition: 0.3s ease-out;
}
footer .click-to-scroll .scroll-text {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
footer .click-to-scroll .scroll-text::before {
  transition: 0.3s ease-out;
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: -8px;
  height: 1px;
  background-color: #FFFFFF;
}
footer .title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .socials {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
}
footer .socials a, footer .socials path {
  transition: 0.3s ease-out;
}

aside.mouse-cursor {
  transition: 0.25s ease-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 2px solid rgb(153, 153, 153);
  background-color: transparent;
  position: fixed;
  z-index: 50;
  top: -50px;
  left: -50px;
  pointer-events: none;
  cursor: none;
}
aside.mouse-cursor.active {
  transform: scale(2.3);
  outline: 0px;
  cursor: pointer;
}

.square {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(153, 153, 153);
  opacity: 0.5;
}

aside.preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #333333;
  z-index: 999;
  top: 0;
  animation: preloader-out 0.3s ease-in-out forwards 1s;
}
@keyframes preloader-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 1;
  }
}

aside#gallery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: 0.3s ease-out;
}
aside#gallery .gallery-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 70%;
  top: 5%;
}
aside#gallery .gallery-container .image-display-container {
  position: relative;
  width: 700px;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside#gallery .gallery-container .image-display-container .image-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-in-out 0.3s;
  opacity: 0;
  z-index: 1;
}
aside#gallery .gallery-container .image-display-container .arrow-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out 0.6s;
  opacity: 0;
  z-index: 0;
}
aside#gallery .gallery-container .image-display-container .arrow-container .arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
}
aside#gallery .gallery-container .image-display-container .arrow-container .arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
aside#gallery .gallery-container .image-display-container .arrow-container.prev {
  left: 0px;
}
aside#gallery .gallery-container .image-display-container .arrow-container.next {
  right: 0px;
}
aside#gallery .gallery-container .thumbnail-container {
  position: relative;
  height: 100px;
  display: flex;
  gap: 15px;
  max-width: 800px;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 10px 20px 10px;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s ease-in-out 0.3s;
}
aside#gallery .gallery-container .thumbnail-container .thumbnail {
  height: 100%;
  aspect-ratio: 16/9;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
aside#gallery .gallery-container .thumbnail-container .thumbnail:hover {
  transform: scale(1.05);
}
aside#gallery .gallery-container .thumbnail-container .thumbnail::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 50%;
  left: 50%;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
aside#gallery .gallery-container .thumbnail-container .thumbnail.active {
  animation: animation-opacity-bounce 200ms ease-out;
}
aside#gallery .gallery-container .thumbnail-container .thumbnail.active::after {
  opacity: 1;
  right: 0;
  left: 0;
}
@keyframes animation-opacity-bounce {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}
aside#gallery.active {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(5px);
}
aside#gallery.active .cover {
  opacity: 0.6;
}
aside#gallery.active .close {
  right: 20px;
  opacity: 1;
}
aside#gallery.active .thumbnail-container {
  transform: translateY(0px);
  opacity: 1;
}
aside#gallery.active .image-display-container .image-display {
  opacity: 1;
}
aside#gallery.active .image-display-container .arrow-container {
  opacity: 1;
}
aside#gallery.active .image-display-container .arrow-container.prev {
  left: -100px;
}
aside#gallery.active .image-display-container .arrow-container.next {
  right: -100px;
}
aside#gallery .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
aside#gallery .close {
  position: absolute;
  top: 20px;
  right: 0px;
  opacity: 0;
  z-index: 1;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out 0.3s;
}

section#home {
  position: relative;
}
section#home .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
section#home .parallax {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
section#home .parallax img {
  top: 0;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}
section#home .container {
  position: absolute;
  top: 16%;
  left: 100px;
  right: 100px;
  bottom: 0;
}
section#home .container .content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  flex-direction: column;
  display: flex;
  gap: 180px;
}
section#home .container .content .group-title {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}
section#home .container .content .group-title .title, section#home .container .content .group-title .subtitle {
  opacity: 0;
  transform: translate(0px, -50px);
  transition: 0.6s ease-out 0.2s;
}
section#home .container .content .group-title .title.active, section#home .container .content .group-title .subtitle.active {
  opacity: 1;
  transform: translate(0px, 0px);
}
section#home .container .content .group-title .title {
  transition-delay: 0.4s;
  font-size: 112px;
  color: #1C1D1F;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
section#home .container .content .group-title .subtitle {
  font-size: 24px;
  color: #1C1D1F;
  font-weight: 500;
  text-transform: uppercase;
}
section#home .container .content .group-title .scroll-down {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  right: 0px;
  font-size: 18px;
  color: #1C1D1F;
  font-weight: 500;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: 0.4s ease-in-out 0.2s;
  opacity: 0;
  transform: translate(20px, 0px);
  cursor: pointer;
  padding: 4px 0;
  box-sizing: border-box;
}
section#home .container .content .group-title .scroll-down .scroll-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#home .container .content .group-title .scroll-down .scroll-icon svg {
  width: 20px;
  height: 20px;
  transition: 0.4s ease-in-out;
}
section#home .container .content .group-title .scroll-down .scroll-icon:hover svg {
  transform: translate(0px, 2px);
}
section#home .container .content .group-title .scroll-down.active {
  opacity: 1;
  transform: translate(0px, 0px);
}
section#home .container .content .group-about {
  position: relative;
  align-self: flex-end;
  width: 40%;
  right: 8%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
section#home .container .content .group-about .section {
  font-size: 24px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
section#home .container .content .group-about .section.know-more a {
  cursor: pointer;
  color: #1C1D1F;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}
section#home .container .content .group-about .section.know-more a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #1C1D1F;
  z-index: -1;
  transition: 0.4s ease-in-out;
  transform-origin: left;
}
section#home .container .content .group-about .section.know-more a:hover::before {
  right: 0;
  width: 0;
}
section#home .container .content .group-about .section.active {
  opacity: 1;
}

section#all-projects {
  color: #FFFFFF;
  background-color: #2C3E50;
}
section#all-projects .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section#all-projects .header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
  background: linear-gradient(to bottom, #1C1D1F, #2C3E50);
}
@keyframes continuous-scroll-title {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
section#all-projects .header-container .slide-title {
  margin: 55px 0 200px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 20%;
}
section#all-projects .header-container .slide-title .group {
  overflow: visible;
  transition: 0.1s ease-out;
  transform: translate(-30%, 0);
}
section#all-projects .header-container .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px 60px 40px;
  box-sizing: border-box;
}
section#all-projects .header-container .text-container .text {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
section#all-projects .header-container .click-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 25px 40px;
  box-sizing: border-box;
  position: relative;
}
section#all-projects .header-container .click-container::after {
  position: absolute;
  content: "";
  right: 40px;
  left: 40px;
  bottom: 0;
  height: 1px;
  background-color: #d9d9d9;
}
section#all-projects .header-container .click-container .click-to-scroll {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
section#all-projects .header-container .click-container .click-to-scroll:hover .scroll-text::before {
  width: 100%;
  left: 0;
}
section#all-projects .header-container .click-container .click-to-scroll:hover.first .scroll-icon {
  transform: rotate(-45deg);
}
section#all-projects .header-container .click-container .click-to-scroll:hover.second .scroll-icon {
  transform: rotate(45deg);
}
section#all-projects .header-container .click-container .click-to-scroll .scroll-icon {
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#all-projects .header-container .click-container .click-to-scroll .scroll-text {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
section#all-projects .header-container .click-container .click-to-scroll .scroll-text::before {
  transition: 0.3s ease-out;
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: -8px;
  height: 1px;
  background-color: #FFFFFF;
}
section#all-projects .content-container {
  background-color: #2C3E50;
}
section#all-projects .content-container .selector-container {
  box-sizing: border-box;
  margin: 80px 40px 0 40px;
  display: flex;
  gap: 40px;
}
section#all-projects .content-container .selector-container .options-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 0px;
  opacity: 0;
  overflow: hidden;
}
section#all-projects .content-container .selector-container .options-container.appear {
  animation: options-container-appear 0.2s ease-in-out forwards;
}
section#all-projects .content-container .selector-container .options-container.disappear {
  animation: options-container-disappear 0.2s ease-in-out forwards;
}
section#all-projects .content-container .selector-container .options-container .option {
  box-sizing: border-box;
  padding: 4px 12px;
  border-radius: 30px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
section#all-projects .content-container .selector-container .options-container .option:hover {
  background-color: #333333;
}
section#all-projects .content-container .selector-container .options-container .option.hide {
  display: none;
}
@keyframes options-container-appear {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes options-container-disappear {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}
section#all-projects .content-container .selector-container .selected {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 60px;
  padding: 4px 0;
  cursor: pointer;
}
section#all-projects .content-container .selector-container .selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #FFFFFF;
  transition: 0.2s ease-out;
}
section#all-projects .content-container .selector-container .selected.open::after {
  left: 100%;
}
section#all-projects .content-container .selector-container .selected.open .arrow {
  transform: rotate(-90deg);
}
section#all-projects .content-container .selector-container .selected.closed::after {
  left: 0;
}
section#all-projects .content-container .selector-container .selected.closed .arrow {
  transform: rotate(0deg);
}
section#all-projects .content-container .selector-container .selected .text {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}
section#all-projects .content-container .selector-container .selected .arrow {
  transition: 0.1s ease-out;
}
section#all-projects .content-container .selector-container .selected .arrow svg {
  width: 20px;
  height: 20px;
}
section#all-projects .content-container .container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#all-projects .content-container .container .group-container {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 80px 0;
  opacity: 0;
  filter: blur(10px);
  transform: scale(0.9);
}
section#all-projects .content-container .container .group-container.appear {
  animation: group-appear 0.5s ease-in-out forwards;
}
section#all-projects .content-container .container .group-container.disappear {
  animation: group-disappear 0.2s ease-in-out forwards;
}
@keyframes group-appear {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}
@keyframes group-disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
section#all-projects .content-container .container .group-container .img-container {
  width: 100%;
  height: 400px;
  background-color: white;
  transition: 0.4s ease-out;
  cursor: pointer;
}
section#all-projects .content-container .container .group-container .img-container:hover {
  transform: scale(1.05);
}
section#all-projects .content-container .container .group-container .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
section#all-projects .content-container .container .group-container .text-container .title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
section#all-projects .content-container .container .group-container .text-container .subtitle {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.7;
  text-transform: uppercase;
  color: #FFFFFF;
}

section#last-projects {
  background-color: #1C1D1F;
  color: #FFFFFF;
}
section#last-projects .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section#last-projects .header-container .slide-title {
  margin: 55px 0;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
}
section#last-projects .header-container .slide-title .group {
  overflow: visible;
  transition: 0.1s ease-out;
  transform: translate(-30%, 0);
}
section#last-projects .header-container .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
}
section#last-projects .header-container .text-container .text {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
section#last-projects .header-container .text-container .click-to-scroll {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
section#last-projects .header-container .text-container .click-to-scroll:hover .scroll-text::before {
  width: 100%;
  left: 0;
}
section#last-projects .header-container .text-container .click-to-scroll:hover.first .scroll-icon {
  transform: rotate(-45deg);
}
section#last-projects .header-container .text-container .click-to-scroll:hover.second .scroll-icon {
  transform: rotate(45deg);
}
section#last-projects .header-container .text-container .click-to-scroll .scroll-icon {
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#last-projects .header-container .text-container .click-to-scroll .scroll-text {
  font-size: 22px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
section#last-projects .header-container .text-container .click-to-scroll .scroll-text::before {
  transition: 0.3s ease-out;
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: -8px;
  height: 1px;
  background-color: #FFFFFF;
}
section#last-projects .content-container {
  background-color: #1C1D1F;
  overflow: hidden;
  position: relative;
}
section#last-projects .content-container .switch-container {
  overflow: visible;
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: transform 0.5s ease-out;
  position: absolute;
}
section#last-projects .content-container .switch-container.active {
  position: fixed;
  top: 0;
}
section#last-projects .content-container .switch-container.top {
  top: 0;
  bottom: auto;
}
section#last-projects .content-container .switch-container.bottom {
  top: auto;
  bottom: 0;
}
section#last-projects .content-container .switch-container .switch-box {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
}
section#last-projects .content-container .switch-container .switch-box .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
section#last-projects .content-container .switch-container .switch-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  background: linear-gradient(223.43deg, rgba(15, 23, 42, 0) 58.22%, #0F172A 88.25%);
  pointer-events: none;
}
section#last-projects .content-container .switch-container .switch-box .content {
  position: absolute;
  z-index: 2;
  bottom: 24%;
  left: 45px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
section#last-projects .content-container .switch-container .switch-box .content .title {
  position: relative;
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
  line-height: 80px;
  text-transform: uppercase;
  opacity: 0;
  top: -40px;
}
section#last-projects .content-container .switch-container .switch-box .content .subtitle, section#last-projects .content-container .switch-container .switch-box .content .text {
  font-size: 16px;
  position: relative;
  font-weight: light;
  color: #ffffff;
  opacity: 0;
  top: -40px;
}
section#last-projects .content-container .switch-container .switch-box .content .subtitle {
  text-transform: uppercase;
}
section#last-projects .content-container .switch-container .switch-box .content.appear .subtitle {
  animation: content-appear 0.5s ease-out 0.5s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.appear .title {
  animation: content-appear 0.5s ease-out 0.7s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.appear .text {
  animation: content-appear 0.5s ease-out 0.9s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.disappear .text {
  animation: content-disappear 0.5s ease-out forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.disappear .title {
  animation: content-disappear 0.5s ease-out 0.2s forwards;
}
section#last-projects .content-container .switch-container .switch-box .content.disappear .subtitle {
  animation: content-disappear 0.5s ease-out 0.4s forwards;
}
@keyframes content-appear {
  0% {
    opacity: 0;
    top: -40px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes content-disappear {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 40px;
  }
}
section#last-projects .content-container .switch-container .switch-box:nth-child(1) {
  background-color: #333333;
}
section#last-projects .content-container .switch-container .switch-box:nth-child(2) {
  background-color: #1C1D1F;
}
section#last-projects .content-container .switch-container .switch-box:nth-child(3) {
  background-color: #2C3E50;
}
section#last-projects .content-container .switch-container .switch-box:nth-child(4) {
  background-color: #F0F0F0;
}
section#last-projects .content-container .switch-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0px);
  z-index: 3;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
section#last-projects .content-container .selector-container {
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
section#last-projects .content-container .selector-container .arrow {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 30px;
}
section#last-projects .content-container .selector-container .arrow.appear {
  animation: selector-appear 0.5s ease-out 0.5s forwards;
}
section#last-projects .content-container .selector-container .arrow.disappear {
  animation: selector-disappear 0.5s ease-out forwards;
}
section#last-projects .content-container .selector-container .arrow.right {
  right: 45px;
}
section#last-projects .content-container .selector-container .arrow.left {
  left: 45px;
}
section#last-projects .content-container .selector-container .selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: 30px;
  opacity: 0;
}
section#last-projects .content-container .selector-container .selector.appear {
  animation: selector-appear 0.5s ease-out 0.5s forwards;
}
section#last-projects .content-container .selector-container .selector.disappear {
  animation: selector-disappear 0.5s ease-out forwards;
}
section#last-projects .content-container .selector-container .selector li {
  list-style: none;
  width: 20px;
  height: 20px;
}
section#last-projects .content-container .selector-container .selector li input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
}
@keyframes circleAnimation {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  50% {
    clip-path: circle(50% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
section#last-projects .content-container .selector-container .selector li input[type=radio]::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(0% at 50% 50%);
}
section#last-projects .content-container .selector-container .selector li input[type=radio]:checked::before {
  outline: 2px solid white;
  animation: circleAnimation 0.5s ease-out forwards;
}
@keyframes selector-appear {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes selector-disappear {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
section#last-projects .dummy-project {
  width: 100vw;
  height: 100vh;
}

section#about {
  width: 100vw;
  position: relative;
}
section#about .block-group-title {
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #1C1D1F;
  padding: 4px 0;
  transition: 0.5s ease-in-out 0.2s;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
section#about .block-group-title .text {
  transform: translateY(-110%);
  transition: 0.3s ease-in;
}
section#about .block-group-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 1px;
  background-color: #1C1D1F;
  transition: 0.5s ease-in-out 0.2s;
}
section#about .block-group-title.active .text {
  transform: translateY(0px);
}
section#about .block-group-title.active::after {
  right: 0;
}
section#about .about-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px 0px 40px;
  background-color: #F0F0F0;
}
section#about .about-container .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 160px 40px 160px 60px;
  gap: 120px;
}
section#about .about-container .content-container .image {
  width: 225px;
  height: 225px;
  background-color: white;
  border-radius: 50%;
  flex-shrink: 0;
}
section#about .about-container .content-container .text-container .text {
  font-size: 40px;
  font-weight: bold;
  color: #1C1D1F;
  text-transform: uppercase;
}
section#about .about-container .content-container .text-container .small-text {
  font-size: 24px;
  font-weight: 300;
  color: #1C1D1F;
  text-transform: uppercase;
  float: right;
}
section#about .competences-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px 100px 40px;
  background-color: #F0F0F0;
}
section#about .competences-container .content-container {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#about .competences-container .content-container .block-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  flex-direction: column;
}
section#about .competences-container .content-container .block-container .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
section#about .competences-container .content-container .block-container .wrapper .logo {
  height: 100px;
  width: 100px;
  background-color: #1C1D1F;
  flex-shrink: 0;
}
section#about .competences-container .content-container .block-container .wrapper .text .title {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  color: #1C1D1F;
  text-transform: uppercase;
}
section#about .competences-container .content-container .block-container .wrapper .text .subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #1C1D1F;
}
section#about .competences-container .content-container .skills-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
section#about .competences-container .content-container .skills-container .skill {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
section#about .competences-container .content-container .skills-container .skill .name {
  background-color: #1C1D1F;
  height: 100%;
  width: 20%;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
section#about .competences-container .content-container .skills-container .skill .progression-container {
  width: 80%;
  height: 100%;
  background-color: white;
  position: relative;
}
section#about .competences-container .content-container .skills-container .skill .progression-container .progression {
  height: 100%;
  width: 0%;
  opacity: 0.7;
  background-color: #1C1D1F;
  transition: 0.4s ease-in-out;
}
section#about .competences-container .content-container .skills-container .skill .progression-container .pourcentage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  font-size: 16px;
  color: #1C1D1F;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#about .experience-container {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 40px;
  background-color: #F0F0F0;
}
section#about .experience-container .accordeon-container .accordeon {
  border-bottom: 1px solid #1C1D1F;
}
section#about .experience-container .accordeon-container .accordeon.active .group-title .arrow svg path {
  fill: white;
}
section#about .experience-container .accordeon-container .accordeon.active .group-title::after {
  left: 5%;
  right: 5%;
}
section#about .experience-container .accordeon-container .accordeon.active .group-title {
  background-color: #1C1D1F;
}
section#about .experience-container .accordeon-container .accordeon.active .group-title .title {
  color: white;
}
section#about .experience-container .accordeon-container .accordeon:last-child {
  border-bottom: none;
}
section#about .experience-container .accordeon-container .accordeon .group-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px 50px 40px;
  box-sizing: border-box;
  position: relative;
  background-color: #F0F0F0;
  transition: 0.2s ease-out;
}
section#about .experience-container .accordeon-container .accordeon .group-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 1px;
  background-color: #1C1D1F;
  transition: 0.3s ease-out;
}
section#about .experience-container .accordeon-container .accordeon .group-title .title {
  font-size: 24px;
  font-weight: bold;
  color: #1C1D1F;
  transition: 0.2s ease-out;
  text-transform: uppercase;
}
section#about .experience-container .accordeon-container .accordeon .group-title .arrow {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  cursor: pointer;
}
section#about .experience-container .accordeon-container .accordeon .group-title .arrow svg {
  transition: 0.3s ease-out;
}
section#about .experience-container .accordeon-container .accordeon .group-title .arrow:hover::after {
  opacity: 0.2;
}
section#about .experience-container .accordeon-container .accordeon .group-title .arrow::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  border-radius: 50%;
  background-color: #2C3E50;
  opacity: 0.1;
  transition: 0.3s ease-out;
}
section#about .experience-container .accordeon-container .accordeon .group-content {
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: 0.2s ease-out;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Crée deux colonnes */
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin: 60px 0px 40px 10px;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container .image {
  width: 200px;
  aspect-ratio: 16/9;
  transition: 0.2s ease-in;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container .image:hover {
  transform: scale(0.9);
  cursor: pointer;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container .image:nth-child(1) {
  background-color: lightblue;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container .image:nth-child(2) {
  background-color: lightgreen;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container .image:nth-child(3) {
  background-color: lightpink;
}
section#about .experience-container .accordeon-container .accordeon .group-content .image-container .image:nth-child(4) {
  background-color: lightyellow;
}
section#about .experience-container .accordeon-container .accordeon .group-content .text-container {
  margin: 60px 30px 40px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #1C1D1F;
}
section#about .experience-container .accordeon-container .accordeon .group-content .text-container .text {
  font-size: 20px;
  font-weight: light;
}
section#about .experience-container .accordeon-container .accordeon .group-content .text-container .date {
  align-self: flex-end;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.7;
}
section#about .experience-container .cv-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C1D1F;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
section#about .experience-container .cv-container:hover a {
  transform: scale(1.05);
}
section#about .experience-container .cv-container:hover::before {
  transform: scale(2);
}
section#about .experience-container .cv-container:hover svg {
  transform: translate(5px, -5px) rotate(15deg);
}
section#about .experience-container .cv-container::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
  background-color: #333333;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s ease-out;
}
section#about .experience-container .cv-container a {
  background-color: #1C1D1F;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  z-index: 1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  gap: 12px;
}
section#about .experience-container .cv-container a svg {
  transition: 0.3s ease-in-out;
}
section#about .hero-container {
  width: 100%;
  aspect-ratio: 16/12;
  position: relative;
}
section#about .hero-container .parallax-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
section#about .hero-container .parallax-container .group-title {
  position: absolute;
  left: 45px;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
section#about .hero-container .parallax-container .group-title .title {
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  line-height: 80px;
  z-index: 1;
  opacity: 0.2;
  transition: 0.3s ease-out;
}
section#about .hero-container .parallax-container .group-title .title.active {
  opacity: 1;
}
section#about .hero-container .parallax-container .group-title .subtitle {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 30px;
  z-index: 1;
  opacity: 0.2;
  transition: 0.3s ease-out;
}
section#about .hero-container .parallax-container .group-title .subtitle.active {
  opacity: 1;
}
section#about .hero-container .parallax-container .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
section#about .hero-container .parallax-container .parallax {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section#about .hero-container .parallax-container .parallax img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section#about .text-block {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1C1D1F;
}
section#about .text-block .text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: bold;
}
section#about .text-block .text span {
  position: relative;
  cursor: pointer;
}
section#about .text-block .text span::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.4s ease-in-out;
  transform-origin: left;
}
section#about .text-block .text span:hover::before {
  right: 0;
  width: 0;
}

section#contact .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1C1D1F;
  color: white;
}
section#contact .header-container .slide-title {
  margin: 55px 0;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
}
section#contact .header-container .slide-title .group {
  overflow: visible;
  transition: 0.1s ease-out;
  transform: translate(-30%, 0);
}
section#contact .header-container .text-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 60px 40px 110px 40px;
  box-sizing: border-box;
  position: relative;
}
section#contact .header-container .text-container::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 40px;
  right: 40px;
  background-color: white;
  z-index: 1;
}
section#contact .header-container .text-container .text {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
section#contact .header-container .text-container .click-to-scroll {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
section#contact .header-container .text-container .click-to-scroll:hover .scroll-text::before {
  width: 100%;
  left: 0;
}
section#contact .header-container .text-container .click-to-scroll:hover.first .scroll-icon {
  transform: rotate(-45deg);
}
section#contact .header-container .text-container .click-to-scroll:hover.second .scroll-icon {
  transform: rotate(45deg);
}
section#contact .header-container .text-container .click-to-scroll .scroll-icon {
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#contact .header-container .text-container .click-to-scroll .scroll-text {
  font-size: 22px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
section#contact .header-container .text-container .click-to-scroll .scroll-text::before {
  transition: 0.3s ease-out;
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: -8px;
  height: 1px;
  background-color: #FFFFFF;
}
section#contact .content-container {
  background-color: #1C1D1F;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 140px 160px 40px;
}
section#contact .content-container .hero-container {
  text-transform: uppercase;
  color: white;
  margin-bottom: 120px;
}
section#contact .content-container .hero-container .title {
  font-size: 96px;
  font-weight: bold;
}
section#contact .content-container .hero-container .subtitle {
  font-size: 22px;
  font-weight: 300;
}
section#contact .content-container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
section#contact .content-container .wrapper .text {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding-left: 32px;
  box-sizing: border-box;
  border-left: 2px solid white;
}
section#contact .content-container .wrapper form {
  width: 770px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
}
section#contact .content-container .wrapper form input {
  width: 100%;
  height: 36px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 20px;
  color: white;
  position: relative;
  transition: 0.3s ease-out;
}
section#contact .content-container .wrapper form input:focus ~ label, section#contact .content-container .wrapper form input:valid ~ label {
  top: 20%;
  opacity: 0;
}
section#contact .content-container .wrapper form input:focus ~ span, section#contact .content-container .wrapper form input:valid ~ span {
  bottom: 100%;
  opacity: 0.7;
}
section#contact .content-container .wrapper form input:focus {
  border-bottom: 1px solid white;
}
section#contact .content-container .wrapper form .group-input {
  position: relative;
}
section#contact .content-container .wrapper form .group-input span {
  position: absolute;
  width: 100%;
  bottom: 110%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 300;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in;
}
section#contact .content-container .wrapper form .group-input label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 300;
  color: white;
  opacity: 0.7;
  pointer-events: none;
  transition: 0.2s ease-in;
}
section#contact .content-container .wrapper form .row {
  display: flex;
  justify-content: space-between;
}
section#contact .content-container .wrapper form .row .group-input {
  width: 47%;
}
section#contact .content-container .wrapper form button {
  padding: 10px 20px;
  box-sizing: border-box;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  gap: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: white;
  color: #1C1D1F;
  transition: 0.3s ease-out;
  position: relative;
  overflow: hidden;
}
section#contact .content-container .wrapper form button .text-button {
  position: relative;
  z-index: 1;
  transition: 0.3s ease-out;
}
section#contact .content-container .wrapper form button svg {
  position: relative;
  z-index: 1;
}
section#contact .content-container .wrapper form button svg path {
  stroke: #1C1D1F;
  transition: 0.3s ease-out;
}
section#contact .content-container .wrapper form button:hover, section#contact .content-container .wrapper form button:focus {
  outline: 1px solid white;
}
section#contact .content-container .wrapper form button:hover .text-button, section#contact .content-container .wrapper form button:focus .text-button {
  color: white;
}
section#contact .content-container .wrapper form button:hover path, section#contact .content-container .wrapper form button:focus path {
  stroke: white;
}
section#contact .content-container .wrapper form button:hover::before, section#contact .content-container .wrapper form button:focus::before {
  transform: scale(1);
}
section#contact .content-container .wrapper form button:hover::after, section#contact .content-container .wrapper form button:focus::after {
  transform: scale(1);
}
section#contact .content-container .wrapper form button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -10px;
  right: -10px;
  background-color: #333333;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transform: scale(0);
  transition: transform 0.3s ease-in;
  z-index: 0;
  opacity: 0.5;
}
section#contact .content-container .wrapper form button::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -10px;
  right: -10px;
  background-color: #1C1D1F;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transform: scale(0);
  transition: transform 0.3s ease-in;
  transition-delay: 0.15s;
  z-index: 0;
}

/*# sourceMappingURL=styles.css.map */
