<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon à mettre -->
    <title>Mon projet</title>


    {% partial 'include/links' %}


</head>
    <body>
        {% partial 'elements/preloader' %}
        
        {% partial 'elements/header_project' %}
        {% partial'elements/mouse-cursor' %}
        {% partial 'elements/gallery.htm' %}
        
        <main>
            {% page %}
        </main>
        
        
        {% partial 'elements/footer' %}

    {% partial 'include/scripts_project' %}
    </body>

    <script src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js"></script> 
    <script>
        const lenis = new Lenis({
            lerp : 0.1,
            smooth : true,
            direction : 'vertical',
        })

        lenis.on('scroll', (e) => {

        })

        function raf(time) {
        lenis.raf(time)
        requestAnimationFrame(raf)
        }

        requestAnimationFrame(raf)
    </script>
</html>