<section id="contact">
    <div class="header-container">

        <div class="slide-title" id="slide-title-contact">
            
            <div class="group">
                &nbsp; Contact &mdash; Contact &mdash; Contact &mdash; Contact &mdash; Contact &mdash; Contact &mdash; Contact &mdash; Contact &mdash;
            </div>


        </div>

        

        


        <div class="text-container">
            <div class="text" >
                <span id="text-reveal-contact"> 

                    Why not say hello ? 
                </span>
            </div>
            <a href="#top" class="click-to-scroll go-to first cursor-pointer" id="arrow-right-contact" data-type="sticky">
                <div class="scroll-text">
                    <p>BACK TO TOP</p>
                </div>
                <div class="scroll-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 21L21 1M21 1H1.8M21 1V20.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                        
                </div>
            </a>
        </div>

    </div>


    <div class="content-container">
        <div class="hero-container">
            <div class="title" id="contact-title">
                Let's Chat
            </div>
            <div class="subtitle" id="contact-subtitle">
                Get to know me better
            </div>
        </div>

        <div class="wrapper">

            <div class="text animation-translate">
                Qu’avez-vous <br/>à me dire ?
            </div>

            <form class="contact-form" data-request="onSendContact" method="post">
                <div class="row">
                    <div class="group-input">
                        <input required type="text" name="name">
                        <label for="name">Name</label>
                        <span>Name</span>
                    </div>
                    
                    <div class="group-input">
                        <input required type="email" name="email">
                        <label for="email">Mail</label>
                        <span>Mail</span>
                    </div>
                </div>

                <div class="group-input">
                    <input required type="text" name="content">
                    <label for="content">Message</label>
                    <span>Message</span>
                </div>

                <button type="submit" class="cursor-pointer" data-type="button">
                    <div class="text-button">Send</div>
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3398 1.49984L6.33984 11.4998V16.4998L9.33984 13.4998M1.33984 7.99984L17.3398 1.46484L14.5398 15.9998L1.33984 7.99984Z"  stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <div class="spinner"></div>
                        
                </button>
                
            </form>



        </div>


    </div>

</section>