<section id="home">
   

    <div class="cover"></div>
    

    <div class="container">

        <div class="content">
            <div class="group-title">   
                <div class="subtitle">
                    FIDJEL Hakim
                    <br>
                    Elève Ingénieur en Informatique
                </div>
                <div class="title">
                    <span class="title-span">
                        Web <br/>
                        Developer <br/>
                        Portfolio
                    </span>
                </div>
                <div class="scroll-down cursor-pointer" data-type="sticky">
                    <span>Scroll</span> 
                    <div class="scroll-icon">

                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 1L10 10L1 1" stroke="#1C1D1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                        
                </div>
            </div>
            <div class="group-about">
                <div class="section">
                    Actuellement en école d'ingénieur en Informatique à IG2I Lens, je suis passioné de développement web.
                </div>
                <div class="section">
                    Je continue ma passion en créant divers projets tout en explorant de nouvelles technologies.
                </div>
                <div class="section know-more">
                    <a href="#about" class="cursor-pointer" data-type="link" data-color="rgb(153, 153, 153)">En savoir plus</a>
                </div>
            </div>
        </div>
        
    </div>


    <div class="parallax">
        <img src="{{ 'home-parallax.png'|media }}" alt="">
    </div>


</section>