<section id="last-projects">
    <div class="header-container">

        <div class="slide-title">
            <div class="group">
                <span>
                    &nbsp;Mes derniers projets &mdash; Mes derniers projets &mdash;
                </span>
            </div>

            <div class="group">
                <span>
                    &nbsp;Mes derniers projets &mdash; Mes derniers projets &mdash;
                </span>
            </div>
        </div>


        <div class="text-container">
            <div class="text">
                Pour que vous puissiez jeter un <br> oeil à mes derniers projets.
            </div>
            <div class="click-to-scroll">
                <div class="scroll-text">
                    <p>Passer outre cette partie</p>
                </div>
                <div class="scroll-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L21 21M21 21V1.8M21 21H1.8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>

    </div>


    <div class="content-container">
        <div class="switch-container">
            <div class="switch-box">
                <div class="background"></div>

                <div class="content">
                    <div class="subtitle">
                        Travail d'intégration 
                    </div>
                    <div class="title">
                        Inframap
                    </div>
                    <div class="text">
                        INFRAMAP est l'un des clients de mon entrepris,e ma mission était d'intégrer les maquettes de notre graphiste pour leur site client.
                    </div>
                </div>

                <div class="cover"></div>
            </div>
            <div class="switch-box">
                <div class="background"></div>

                <div class="content">
                    <div class="subtitle">
                        Travail d'intégration 
                    </div>
                    <div class="title">
                        Inframap
                    </div>
                    <div class="text">
                        INFRAMAP est l'un des clients de mon entrepris,e ma mission était d'intégrer les maquettes de notre graphiste pour leur site client.
                    </div>
                </div>
                
                <div class="cover"></div>
            </div>
            <div class="switch-box">
                <div class="background"></div>

                <div class="content">
                    <div class="subtitle">
                        Travail d'intégration 
                    </div>
                    <div class="title">
                        Inframap
                    </div>
                    <div class="text">
                        INFRAMAP est l'un des clients de mon entrepris,e ma mission était d'intégrer les maquettes de notre graphiste pour leur site client.
                    </div>
                </div>
                
                <div class="cover"></div>
            </div>
            <div class="switch-box">
                <div class="background"></div>

                <div class="content">
                    <div class="subtitle">
                        Travail d'intégration 
                    </div>
                    <div class="title">
                        Inframap
                    </div>
                    <div class="text">
                        INFRAMAP est l'un des clients de mon entrepris,e ma mission était d'intégrer les maquettes de notre graphiste pour leur site client.
                    </div>
                </div>
                
                <div class="cover"></div>
            </div>
            
        </div>

        <div class="selector-container">

            <div class="arrow left">

            </div>

            <ul class="selector">
                <li class="active">
                    <input type="radio" name="last-projects" checked>
                </li>
                <li>
                    <input type="radio" name="last-projects">
                </li>
                <li>
                    <input type="radio" name="last-projects">
                </li>
                <li>
                    <input type="radio" name="last-projects">
                </li>
            </ul>

            <div class="arrow right">

            </div>
        </div>
        

    </div>
</section>