<section id="last-projects" >
    <div class="header-container">

        <div class="slide-title" id="slide-title-last-projects">
            
            <div class="group">
                &nbsp; My last projects &mdash; My last projects &mdash; My last projects &mdash; My last projects &mdash; My last projects &mdash; My last projects &mdash; My last projects &mdash; My last projects &mdash;
            </div>


        </div>


        <div class="text-container">
            <div class="text">
                <span id="text-reveal-last-projects">
                    Take a look <br> at my latest projects
                </span>
            </div>
            <a href="#all-projects" class="click-to-scroll go-to second cursor-pointer" id="arrow-right-last-projects" data-type="sticky">
                <div class="scroll-text">
                    <p>SKIP</p>
                </div>
                <div class="scroll-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L21 21M21 21V1.8M21 21H1.8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </a>
        </div>

    </div>


    <div class="content-container" >

        <div class="switch-container" id="switch-container-last-projects">

            {% set counter_project = 0 %}
            {% for project in lastprojects %}

                
                
                <div class="switch-box">
                    
                
                    <div class="content-wrapper">


                        <div data-src="{{ url('/project/' ~ project.id) }}" class="content cursor-pointer link-href" data-type="link">
                            <span class="subtitle">
                                    {{ project.subtitle }}
                            </span>
                            </br>
                            <span class="title">
                                    {{ project.name }}
                            </span>
                        </br>
                            <span class="text">
                                    {{ project.libelle }}
                            </span>
                        </div>
                    </div>


                
                    <div data-src="{{ url('/project/' ~ project.id) }}" class="background cursor-pointer link-href" data-type="link" style="background-image: url('{{ project.images.last.getPath }}')"></div>

                </div>

                {% set counter_project = counter_project + 1 %}
            {% endfor %}



          
           
        </div>

        
        
       
        
        <div class="scroll-container" id="scroll-container">
            <div class="scroll-wrapper">
                <div class="progression-container" id="progression-container">
                    1 / {{ lastprojects|length }}
                </div>
                <div class="scroll-indicator">
                    <span>
                        SCROLL
                    </span>
                    <svg style="transform: rotate(90deg)" width="18" height="16" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.85791 13H26.3138M26.3138 13L14.0949 0.781195M26.3138 13L14.0949 25.2188" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                        
                </div>
            </div>
        </div>
        


       

    </div>


    

</section>