<aside id="gallery">
    <div class="cover"></div>
    <div class="close">Fermer</div>

    <div class="gallery-container">
        <!-- Conteneur pour l'image -->
        <div class="image-display-container">
            <div class="arrow-container prev">
                <div class="arrow follow-cursor">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.828 6.77803L16 6.77803V8.77803H3.828L9.192 14.142L7.778 15.556L0 7.77803L7.778 3.05176e-05L9.192 1.41403L3.828 6.77803Z" fill="white"/>
                    </svg>
                </div>
            </div>
            <div class="image-display"></div>
            <div class="arrow-container next">
                <div class="arrow follow-cursor">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.172 8.778L0 8.778V6.778L12.172 6.778L6.808 1.414L8.222 0L16 7.778L8.222 15.556L6.808 14.142L12.172 8.778Z" fill="white"/>
                    </svg>
                </div>
            </div>
        </div>

        <!-- Conteneur pour les vignettes -->
        <div class="thumbnail-container">
        </div>

    </div>
</aside>