<aside id="gallery">
    <div class="cover"></div>
    <div class="close">Fermer</div>

    <div class="gallery-container">
        <!-- Conteneur pour l'image -->
        <div class="image-display-container">
            <div class="arrow-container prev">
                <div class="arrow"></div>
            </div>
            <div class="image-display"></div>
            <div class="arrow-container next">
                <div class="arrow"></div>
            </div>
        </div>

        <!-- Conteneur pour les vignettes -->
        <div class="thumbnail-container">
        </div>

    </div>
</aside>