.accordeon { 

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: $xs-spacing;

    border-radius: $border-radius;

    .accordeon-children {

        .accordeon-label {

            background-color: $block-bg;
            border-radius: $border-radius;

            border: 1px solid $block-border;
            padding: $x-spacing $re-spacing;

            transition: $slow-animation;

            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 14px;
                line-height: 1;
                font-weight: 400;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $xs-spacing $x-spacing;

                &, & svg {
                    transition: $fast-animation;
                }

                background-color: $block-btn-bg;
                border: 1px solid $block-border;
                border-radius: $border-radius;
            }

            &.open {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                button svg {
                    transform: rotate(90deg);
                }
            }
        }

        .accordeon-content {
            border: 1px solid $block-border;
            border-top: none;
            
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            
            overflow: hidden;
            max-height: 0;
            padding: 0 $re-spacing;
            
            opacity: 0;
            transition: $fast-animation;
            // transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
            
            &.open {
                // height: auto;
                padding: $re-spacing;
                max-height: 500px;
                opacity: 1;
            }
        }
    }
}