.big-button {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    width: 100%;
    padding: $sm-spacing;
    border-radius: $border-radius;
    border: 1px solid var(--block-border);
    background-color: var(--block-bg);

    color: var(--body-color-light);
    text-decoration: none;
    gap: $x-spacing;

    transition: $fast-animation;
}