.block {
    background-color: $block-bg;
    border: 1px solid $block-border;
    // height: 40px;

    padding: $md-spacing $l-spacing;

    display: flex; 
    flex-direction: column;
    gap: $re-spacing;

    transition: $slow-animation;

    .block-header {


        h2 {
            font-size: 20px;
            line-height: 1;
            font-weight: 500;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $xs-spacing $x-spacing;

            &, & svg {
                transition: $fast-animation;
            }

            background-color: $block-btn-bg;
            border: 1px solid $block-border;
            border-radius: $border-radius;

            svg {
                transform: rotate(90deg);
            }
        }
    }

    .block-content {
        max-height: 1000px;
        overflow: hidden;
        transition: $slow-animation;

        font-size: 14px;
        line-height: 16px;
        font-weight: 300;

        letter-spacing: 0.5px;


    }

    &.collapsed {

        gap: 0;

        .block-toggle svg {
            transform: rotate(0deg);
        }

        .block-content {
            max-height: 0;
        }
    }

}