.carrousel-container {

    display: flex;
    flex-direction: column;
    gap: $re-spacing;

    padding: $xs-spacing 0;

    // overflow: hidden;

    .carrousel-body {

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: $md-spacing;
        
        .carrousel-wrapper { 

            overflow : hidden;

            .carrousel {
                
                width: 100%;
                display: flex;
                flex: 1;
                
                transform: translateX(0%);
                transition: $slow-animation;
                transition-delay: 0.3s;
                
                .carrousel-item {

                    position: relative;

                    aspect-ratio: 16 / 9;
                    
                    flex-shrink: 0;
                    width: 100%;
                    transition: $fast-animation;
                    
                    transform: scale(0.9);
                    transition-delay: 0s;
                    
                    &.active {
                        transition: $fast-animation;
                        transition-delay: 0.9s;
                        transform: scale(1);
                    }


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
    

                }
            }
    
        }

        .carrousel-arrow {

            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            z-index: 1;

            background-color: var(--block-btn-bg);
            border: none;
            border-radius: 50%;
            color: var(--block-btn-colo);
            cursor: pointer;
            padding: 0.7rem;

            transition: all $slow-animation;

            border: 1px solid var(--block-border);

            aspect-ratio: 1 / 1;

            svg path {
                fill: var(--block-btn-color);
            }

            @include respond('breakpoint') {
                display: none;
            }

            &.carrousel-arrow-left {
                svg {
                    transform: rotate(0deg);
                }
                &:disabled {
                    transform: translateX(-200%);
                }
            }
            &.carrousel-arrow-right {
                svg {
                    transform: rotate(180deg);
                }
                &:disabled {
                    transform: translateX(200%);
                }
            }

            // disabled
            &:disabled {
                cursor: auto;
                opacity: 0.3;
                pointer-events: none;
            }
        }

    }

    .carrousel-footer { 


        display: flex;
        align-items: center;
        flex-direction: column;

        gap: $xs-spacing;

        // height: 40px;
        // background-color: red;


        .carrousel-buttons {

            display: flex;
            gap: $x-spacing;
            align-items: center;
            justify-content: center;

            @include respond('breakpoint') {
                display: none;
            }

            button.carrousel-button {

                position: relative;
                    
                background-color: var(--block-btn-bg);
                border: none;
                border-radius: 50%;
                cursor: pointer;
                padding: $xxs-spacing;

                transition: all $fast-animation;
                
                border: 1px solid var(--block-border);
                
                aspect-ratio: 1 / 1;
                
                &::after {
                    content : '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all $fast-animation;
                    width: 0;
                    height: 0;
                    padding: $xs-spacing;
                    border-radius: 50%;
                    outline: 1px solid var(--body-color-light);

                    opacity: 0;

                }

                &:hover {
                    background-color: var(--body-color-light);
                    border-color: var(--body-color-light);
                }

                &.active { 
                    background-color: var(--body-color-light);
                    border-color: var(--body-color-light);

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        .carrousel-arrows {

            display: none;

            @include respond('breakpoint') {
                display: flex;
                margin-bottom: $xs-spacing;
            }

            .carrousel-arrow {

                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                padding: $xs-spacing;

                background-color: var(--block-btn-bg);
                border: 1px solid var(--block-border);
                border-radius: $border-radius;

                cursor: pointer;
                transition: $fast-animation;

                svg path {
                    fill: var(--block-btn-color);
                }

                &:disabled {
                    cursor: auto;
                    opacity: 0.3;
                    pointer-events: none;
                }
    
                &.carrousel-arrow-left {
                    transform: rotate(0deg);
    
                }
                &.carrousel-arrow-right {
                    transform: rotate(180deg);
    
                }
            }
        }
    }
}


.carrousel-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity $slow-animation; // Transition uniquement sur l'opacité
    pointer-events: none;
    
    &.open {
        opacity: 1;
        pointer-events: all;

        .carrousel-item.active {
            opacity: 1;
            transition-delay: $very-fast-timing;
        }
    }
    
    backdrop-filter: blur(5px);

    .carrousel-dialog-overlay {
        position: absolute;

        background-color: var(--body-bg);
        opacity: 0.4;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 1;

        cursor: pointer;

    }


    .carrousel-item {
        position: relative;
        z-index: 2;
        display: none;



        &.active {
            display: flex;
            gap: $xxs-spacing;
            flex-direction: column;

            opacity: 0;
            transition: all $fast-animation;

            // transition-delay : 0.3s;

            p {
                color: var(--body-color-light);
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2;
            }

            img {
                max-width: 70vw;
                max-height: 70vh;

                width: 100%;
                height: 100%;
                object-fit: contain;

                @include respond('breakpoint') {
                    max-width: 90vw;
                    max-height: 90vh;
                }
            }
        }
    }
}