.loader {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
    z-index: 9999;



    .loader-panels {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .loader-panel-left, .loader-panel-right {
            position: relative;
            height: 100%;
            background-color: var(--body-bg);
            width: 50%;
            overflow: hidden;

            pointer-events: all;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 100%;
                background-color: var(--block-border);
            }
        }

        .loader-panel-left::after {
            right: 0%;
        }
        .loader-panel-right::after {
            left: 0%;
        }

    }


    &.opened {

        .loader-panels {
            .loader-panel-left {
                animation: loader-open $fast-animation forwards;
            }
            .loader-panel-right {
                animation: loader-open $fast-animation forwards;
            }
        }


        .loader-cover {
            opacity: 0;
        }
    }

    &.closed {

        .loader-panels {
            .loader-panel-left {
                animation: loader-close $fast-animation forwards;
            }
            .loader-panel-right {
                animation: loader-close $fast-animation forwards;
            }
        }

        .loader-cover {
            opacity: 1;
        }
    }

    

    @keyframes loader-open {
        0% {
            width: 50%;
        }
        100% {
            width: 0%;
        }
    }

    
    @keyframes loader-close {
        0% {
            width: 0%;
        }
        100% {
            width: 50%;
        }
    }


}
