.project-item {
    // gap: $md-spacing;

    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: space-between;

    text-decoration: none;

    position: relative;
    overflow: hidden;

    transition: $fast-animation;
    gap: 0;
    
    padding: $x-spacing 0;
    border-radius: $border-radius;
    
    .project-content {
        
        display: flex;
        flex-direction: column;
        gap: $xs-spacing;
        
        transition: $fast-animation;

        margin-right: $l-spacing;

        .project-header {
            display: flex;
            gap: $x-spacing;
            align-items: center;

            .project-title {
                font-size: 16px;
                line-height: 1;
                font-weight: 500;
                color: var(--body-color-light);
            }
        }

        .project-footer {

            .project-subtitle {
                font-size: 16px;
                line-height: 1;
                font-weight: 300;
                color: var(--body-color-dark);
            }
        }
        
    }

    svg path {
        fill: var(--block-btn-color);
    }

    .arrow-left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%)  translateX(-200%);

        transition: $fast-animation;

    }

    .arrow-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) translateX(-100%);

        transition: $fast-animation;
    }

    &:hover, &:focus {
        background-color: var(--block-bg);
        outline: none;

        .project-content {
            margin-left: $l-spacing;
            margin-right: 0;
        }

        .arrow-right {
            transform: translateY(-50%) translateX(200%);
        }

        .arrow-left {
            transform: translateY(-50%) translateX(100%);
        }
    }
}