.timeline {
    display: flex;
    flex-direction: column;

    gap: $l-spacing;
    
    position: relative;

    padding: 1px 0;

    .timeline-item {
        
        padding-left: $md-spacing;
        position: relative;
        
        .timeline-content {
            padding-left: $sm-spacing;

            h5 {
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
            }
    
            p {
                font-size: 13px;
                font-weight: 300;
                line-height: 16px;
    
                color: $body-color-dark;
            }
        }


        &::after {
            content : '';
            position: absolute;

            width: $md-spacing;
            height: $md-spacing;

            background-color: $block-bg;
            border: 1px solid $body-color-light;
            border-radius: 50%;


            top: 50%;
            left: 0;

            // z-index: 1000;

            transform: translateY(-50%);
        }
    }

    .timeline-line {
        position: absolute;
        background-color: blue;
        top: 0;
        bottom: 0;
        left: calc($md-spacing / 2);

        border-left: 1px solid $body-color-light;
    }
}