.timeline {
    
    position: relative;

    .timeline-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 1;

        background-color: $block-btn-bg;
        border-radius: 50%;
        color: $block-btn-color;
        cursor: pointer;
        padding: 0.7rem;

        transition: all $slow-animation;

        border: 1px solid $block-border;

        aspect-ratio: 1 / 1;


        &.left {
            left: 0;

            &.disabled {
                transform: translateX(-100%) translateY(-50%);
                opacity: 0;
                pointer-events: none;
            }
        }

        &.right {
            right: 0;

            &.disabled {
                transform: translateX(100%) translateY(-50%);
                opacity: 0;
                pointer-events: none;
            }
            svg {
                transform: rotate(180deg);
            }
        }
    }
    
    .timeline-scrollable {
        display: flex;
        gap: $sm-spacing;
        position: relative;

        .timeline-item {
            position: relative;
            flex-shrink: 0;
    
            
    
    
    
            
            .timeline-title {
                border-radius: $border-radius;
                border: 1px solid $block-border;
                padding: $xs-spacing $x-spacing;
    
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
    
                max-width: 200px;
    
    
            }
            .timeline-info {
                font-size: 13px;
                font-weight: 300;
                line-height: 16px;
    
                color: $body-color-dark;
            }
        }
    }

}
