
$color1: #FFFFFF;
$color2: #F0F0F0;
$color3: #1C1D1F;
$color4: #333333;
$color5: #2C3E50;

// Responsive for phone, tablet and pc (Mixin)
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 767px) { @content; }
    }
    @else if $breakpoint == tablet {
        @media (min-width: 768px) and (max-width: 1023px) { @content; }
    }
    @else if $breakpoint == pc {
        @media (min-width: 1024px) { @content; }
    }
}



// Font sizes
:root 
{
    --hero-title-size: 112px;
    --hero-subtitle-size: 24px;
    --hero-text-size: 24px;
    --xs-size: 18px;
    --small-size: 22px;
    --medium-size: 24px;
    --big-size: 40px;
    --slide-title : 80px;
    --last-project-title: 72px;
    --huge-text : 54px;
    --line-height-hero : 78px;
}

// Responsive font sizes


@include responsive(phone)
{
    :root 
    {
        --hero-title-size: 52px;
        --hero-subtitle-size: 16px;
        --hero-text-size: 16px;
        --xs-size: 14px;
        --small-size: 18px;
        --medium-size: 20px;
        --big-size: 26px;
        --slide-title : 36px;
        --last-project-title: 40px;
        --huge-text : 36px;
        --line-height-hero : 0px;
    }
}
@include responsive(tablet)
{
    :root 
    {
        --hero-title-size: 96px;
        --hero-subtitle-size: 20px;
        --hero-text-size: 28px;
        --xs-size: 16px;
        --small-size: 20px;
        --medium-size: 22px;
        --big-size: 32px;
        --slide-title : 64px;
        --last-project-title: 64px;
        --huge-text : 46px;
        --line-height-hero : 0px;
    }
}



// Normal
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla/static/Karla-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla/static/Karla-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
// Semi Bold
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla/static/Karla-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
// Medium
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla/static/Karla-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
// Light
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla/static/Karla-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

*
{
    padding: 0;
    margin: 0;
    font-family: 'Karla';
}

body 
{
    overflow-x: hidden;
}

html 
{
    scroll-behavior: smooth;
}

.animation-opacity
{
    opacity: 0.1;
    

    &.appear
    {
        animation: animation-opacity-appear 0.3s ease-out forwards;
    }
    &.disappear
    {
        animation: animation-opacity-disappear 0.3s ease-out forwards;
    }
    @keyframes animation-opacity-appear
    {
        0%
        {
            opacity: 0.1;
        }
        100%
        {
            opacity: 1;
        }
    }
    @keyframes animation-opacity-disappear
    {
        0%
        {
            opacity: 1;
        }
        100%
        {
            opacity: 0.1;
        }
    }
}

.animation-translate
{
    opacity: 0;
    transform: translateY(-50px);
    &.appear
    {
        animation: animation-translate-appear 0.5s ease-in forwards;
    }
    &.disappear
    {
        animation: animation-translate-disappear 0.5s ease-in forwards;
    }
    @keyframes animation-translate-appear
    {
        0%
        {
            opacity: 0;
            transform: translateY(-50px);
        }
        100%
        {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes animation-translate-disappear
    {
        0%
        {
            opacity: 1;
            transform: translateY(0px);
        }
        100%
        {
            opacity: 0;
            transform: translateY(-50px);
        }
    }
}

.follow-cursor {
    transition: top 0.3s ease-out, left 0.3s ease-out;
}





@import './partials/elements/header.scss';
@import './partials/elements/footer.scss';
@import './partials/elements/mouse-cursor.scss';
@import './partials/elements/preloader.scss';
@import './partials/elements/gallery.scss';

@import './partials/page/home.scss';
@import './partials/page/all-projects.scss';
@import './partials/page/last-projects.scss';
@import './partials/page/about.scss';
@import './partials/page/contact.scss';

@import './project.scss';