{% framework %}
{% scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ 'assets/js/script.js'|theme }}"></script>
<script src="{{ 'assets/js/scroll.js'|theme }}"></script>

<script src="{{ 'assets/js/page/last-projects.js'|theme }}"></script>
<script src="{{ 'assets/js/page/all-projects.js'|theme }}"></script>
<script src="{{ 'assets/js/page/about.js'|theme }}"></script>
<script src="{{ 'assets/js/page/contact.js'|theme }}"></script>
<script src="{{ 'assets/js/page/home.js'|theme }}"></script>

<script src="{{ 'assets/js/elements/header.js'|theme }}"></script>
<script src="{{ 'assets/js/elements/gallery.js'|theme }}"></script>
<script src="{{ 'assets/js/elements/mouse-cursor.js'|theme }}"></script>