name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Étape 1 : Configurer Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Étape 2 : Login à Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # # Étape 3 : Construire l'image Docker
    - name: Build Docker image
      run: docker build . --file Dockerfile --tag hakimfidjel/portfolio:latest

    # # Étape 4 : Pousser l'image sur Docker Hub
    - name: Push Docker image
      run: docker push hakimfidjel/portfolio:latest
